Repository woowacourse-teams/2023-yigongil, pull requests merged in 2023-09, with the labels that each got.

#392 chore: 프로메테우스 의존성 제거
  backend/build.gradle
Labels: backend🤎, infra

#406 [홈 탭] 레이아웃 구성 변경
  android/app/src/main/java/com/created/team201/data/remote/NetworkModule.kt
  android/app/src/main/res/drawable/bg_rectangle_radius_10dp_black01.xml
  android/app/src/main/res/drawable/icn_more.xml
  android/app/src/main/res/layout/fragment_home2.xml
  android/app/src/main/res/layout/item_home_dash_board.xml
  android/app/src/main/res/layout/item_home_feed.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, さんくん🐯

#385 feat: 스터디장이 탈퇴할 시 모집중인 스터디는 삭제하는 기능 구현
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/application/StudyEventListener.java
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/BaseEntity.java
  backend/src/main/java/com/yigongil/backend/domain/event/DomainEvent.java
  backend/src/main/java/com/yigongil/backend/domain/event/MemberDeleteEvent.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/member/MemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMember.java
  backend/src/main/resources/db/migration/V7__on_delete_cascade.sql
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/java/com/yigongil/backend/domain/member/MemberTest.java
  backend/src/test/java/com/yigongil/backend/fixture/StudyFixture.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/features/member-delete.feature
  backend/src/test/resources/features/update-profile.feature
Labels: backend🤎, feat, netflix-george🎅🏻

#399 [Custom View] attrs.xml 수정
  android/app/src/main/java/com/created/team201/presentation/updateStudy/custom/SinglePicker.kt
  android/app/src/main/res/layout/fragment_people_count_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_period_bottom_sheet.xml
  android/app/src/main/res/values/attrs.xml
Labels: android💚, refactor, 선희☀️

#387 test: sharedcontext 기능 추가
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ApplySteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/AuthorizationSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MemberSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MyStudyFindSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ReportSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/SharedContext.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudyProgressStep.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/TodoSteps.java
  backend/src/test/resources/features/report.feature
  backend/src/test/resources/features/study-progress.feature
Labels: backend🤎, refactor, netflix-george🎅🏻

#408 토큰 만료 확인 기능
  backend/src/main/java/com/yigongil/backend/config/AuthConfig.java
  backend/src/main/java/com/yigongil/backend/ui/LoginController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/AuthorizationSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/CommonSteps.java
  backend/src/test/resources/features/token.feature
Labels: backend🤎, feat, ε'miliene🏊

#414 feat: 비회원 스터디 상세정보 조회 기능 구현
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/config/auth/AuthInterceptor.java
  backend/src/main/java/com/yigongil/backend/response/StudyDetailResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyMemberRoleResponse.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/main/java/com/yigongil/backend/ui/doc/StudyApi.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudyMemberSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/resources/features/permit-applicant.feature
  backend/src/test/resources/features/study-detail.feature
  backend/src/test/resources/features/study-member-role.feature
  backend/src/test/resources/features/update-study.feature
Labels: backend🤎, feat, jasmine👙

#415 fix: flyway 수정
  backend/src/main/resources/db/migration/V7__on_delete_cascade.sql
Labels: backend🤎, fix

#422 [스터디 관리하기] 뷰 제거
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyManageDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyManageDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyManagementDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyManagementDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkServiceModule.kt
  android/app/src/main/java/com/created/team201/data/remote/api/StudyManageService.kt
  android/app/src/main/java/com/created/team201/data/remote/api/StudyManagementService.kt
  android/app/src/main/java/com/created/team201/data/repository/StudyManageRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/data/repository/StudyManagementRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/MainActivity.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/StudyManageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/StudyManageViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/adapter/StudyManageAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/adapter/StudyManageViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/model/MyStudiesUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/model/MyStudyStatus.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/model/StudyManageUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementState.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyMemberClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/TodoState.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/OptionalTodoViewType.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementMemberAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementMemberViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoAddViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoEditViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyOptionalTodoViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/custom/StudyInformationDialog.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/NecessaryTodoUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/OptionalTodoUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/RoundUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/StudyManagementInformationUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/StudyMemberUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/StudyRoundDetailUiModel.kt
  android/app/src/main/res/layout/activity_study_management.xml
  android/app/src/main/res/layout/dialog_study_informaion.xml
  android/app/src/main/res/layout/item_study_manage.xml
  android/app/src/main/res/layout/item_study_management.xml
  android/app/src/main/res/layout/item_study_management_optional_todo_add.xml
  android/app/src/main/res/layout/item_study_management_optional_todo_edit.xml
  android/app/src/main/res/layout/item_study_management_optional_todos.xml
  android/app/src/main/res/layout/item_study_management_skeleton.xml
  android/app/src/main/res/layout/item_study_management_skeleton_member.xml
  android/app/src/main/res/layout/item_study_management_study_member.xml
  android/app/src/main/res/menu/menu_main_bnv.xml
  android/app/src/main/res/menu/menu_study_management.xml
  android/domain/src/main/java/com/created/domain/repository/StudyManageRepository.kt
  android/domain/src/main/java/com/created/domain/repository/StudyManagementRepository.kt
Labels: android💚, refactor, ringring🤙, 선희☀️

#411 [Custome view] Caledar value가 선택되지 않았을 때 발생하는 버그
  android/app/src/main/java/com/created/team201/presentation/updateStudy/custom/Calendar.kt
Labels: android💚, fix, 선희☀️

#397 티어 계산 및 경험치 계산 로직 구현
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/member/Tier.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/study/PeriodUnit.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMember.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMemberRepository.java
  backend/src/main/java/com/yigongil/backend/response/UpcomingStudyResponse.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/TodoSteps.java
  backend/src/test/java/com/yigongil/backend/domain/member/TierTest.java
  backend/src/test/java/com/yigongil/backend/domain/study/StudyTest.java
  backend/src/test/java/com/yigongil/backend/fake/FakeController.java
  backend/src/test/java/com/yigongil/backend/fixture/MemberFixture.java
  backend/src/test/java/com/yigongil/backend/ui/MemberControllerTest.java
  backend/src/test/resources/features/study-progress.feature
Labels: backend🤎, phoa'i🏃, netflix-george🎅🏻

#418 피드 기능을 구현한다.
  backend/src/main/java/com/yigongil/backend/application/CertificationService.java
  backend/src/main/java/com/yigongil/backend/application/FeedService.java
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/certification/Certification.java
  backend/src/main/java/com/yigongil/backend/domain/certification/CertificationRepository.java
  backend/src/main/java/com/yigongil/backend/domain/feedpost/FeedPost.java
  backend/src/main/java/com/yigongil/backend/domain/feedpost/FeedPostRepository.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/study/PageStrategy.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/request/CertificationCreateRequest.java
  backend/src/main/java/com/yigongil/backend/request/FeedPostCreateRequest.java
  backend/src/main/java/com/yigongil/backend/response/CertificationResponse.java
  backend/src/main/java/com/yigongil/backend/response/FeedPostResponse.java
  backend/src/main/java/com/yigongil/backend/response/MemberCertificationResponse.java
  backend/src/main/java/com/yigongil/backend/response/MembersCertificationResponse.java
  backend/src/main/java/com/yigongil/backend/response/SimpleMemberResponse.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/main/java/com/yigongil/backend/ui/doc/StudyApi.java
  backend/src/main/resources/db/migration/V9__add_feed_table.sql
  backend/src/test/java/com/yigongil/backend/acceptance/steps/FeedSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/SharedContext.java
  backend/src/test/java/com/yigongil/backend/application/StudyServiceTest.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
  backend/src/test/resources/features/feed.feature
Labels: backend🤎, feat

#431 refactor: 홈뷰 수정
  backend/src/main/java/com/yigongil/backend/application/RoundService.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/response/HomeResponse.java
  backend/src/main/java/com/yigongil/backend/response/UpcomingStudyResponse.java
  backend/src/main/java/com/yigongil/backend/ui/HomeController.java
  backend/src/main/java/com/yigongil/backend/ui/doc/HomeApi.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
Labels: backend🤎, refactor, netflix-george🎅🏻

#440 [스레드 뷰] 스레드 뷰 디자인 및 기능 작업
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/data/mapper/HomeMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/response/HomeStudyResponseDto.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeFragment.kt
  android/app/src/main/java/com/created/team201/presentation/home/adapter/HomeAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/home/adapter/HomeViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/ThreadActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/ThreadViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/adapter/MustDoAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/adapter/MustDoViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/adapter/ThreadAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/adapter/ThreadViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/model/MustDoRecord.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/model/ThreadComment.kt
  android/app/src/main/java/com/created/team201/util/BindingAdapter.kt
  android/app/src/main/res/drawable/bg_rectangle_radius_10dp_black02.xml
  android/app/src/main/res/drawable/icn_direct_message_btn.xml
  android/app/src/main/res/drawable/icn_more_vertical.xml
  android/app/src/main/res/layout/activity_thread.xml
  android/app/src/main/res/layout/item_home_study_list.xml
  android/app/src/main/res/layout/item_thread_comment.xml
  android/app/src/main/res/layout/item_thread_must_do.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/model/UserStudy.kt
Labels: android💚, feat, さんくん🐯, ßändäl🌗

#438 refactor: 선택 투두 삭제
  backend/src/main/java/com/yigongil/backend/application/RoundService.java
  backend/src/main/java/com/yigongil/backend/application/TodoService.java
  backend/src/main/java/com/yigongil/backend/domain/optionaltodo/OptionalTodo.java
  backend/src/main/java/com/yigongil/backend/domain/optionaltodo/OptionalTodoRepository.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/request/TodoUpdateRequest.java
  backend/src/main/java/com/yigongil/backend/response/RoundResponse.java
  backend/src/main/java/com/yigongil/backend/response/TodoResponse.java
  backend/src/main/java/com/yigongil/backend/ui/TodoController.java
  backend/src/main/java/com/yigongil/backend/ui/doc/TodoApi.java
  backend/src/main/resources/db/migration/V10__drop_optional_todo.sql
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudyMemberSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/TodoSteps.java
  backend/src/test/java/com/yigongil/backend/application/TodoServiceTest.java
  backend/src/test/java/com/yigongil/backend/domain/round/RoundTest.java
  backend/src/test/java/com/yigongil/backend/domain/roundofmember/RoundOfMemberTest.java
  backend/src/test/java/com/yigongil/backend/ui/TodoControllerTest.java
  backend/src/test/resources/features/feed.feature
  backend/src/test/resources/features/find-round.feature
  backend/src/test/resources/features/manage-todo.feature
  backend/src/test/resources/features/member-delete.feature
  backend/src/test/resources/features/study-progress.feature
Labels: backend🤎, refactor, netflix-george🎅🏻

#454 refactor: 피드 조회시에 스터디 이름도 반환
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/response/MembersCertificationResponse.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/FeedSteps.java
  backend/src/test/resources/features/feed.feature
Labels: backend🤎, refactor, netflix-george🎅🏻

#443 refactor: aop로 exception handler에서 slack 의존성 제거
  backend/src/main/java/com/yigongil/backend/ui/exceptionhandler/ApiExceptionHandler.java
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Labels: backend🤎, refactor, netflix-george🎅🏻

#459 [로그인] 토큰 검증 및 리프레시 토큰 오류 수정
  .github/workflows/android-test.yml
  android/app/build.gradle
  android/app/src/main/java/com/created/team201/data/remote/api/AuthService.kt
  android/app/src/main/java/com/created/team201/data/remote/interceptor/AuthInterceptor.kt
  android/app/src/main/java/com/created/team201/data/repository/DefaultAuthRepository.kt
Labels: android💚, refactor, 선희☀️
