Repository woowacourse-teams/2023-yigongil, pull requests merged in 2023-07, with the labels that each got.

#4 chore: 백엔드 프로젝트 기초세팅
  backend/.gitignore
  backend/build.gradle
  backend/gitkeep
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/yigongil/backend/BackendApplication.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/yigongil/backend/BackendApplicationTests.java
Labels: backend🤎, chore

#11 feat: 엔티티 설계 및 구현
  backend/src/main/java/com/yigongil/backend/domain/Applicant.java
  backend/src/main/java/com/yigongil/backend/domain/BaseEntity.java
  backend/src/main/java/com/yigongil/backend/domain/Member.java
  backend/src/main/java/com/yigongil/backend/domain/OptionalTodo.java
  backend/src/main/java/com/yigongil/backend/domain/Round.java
  backend/src/main/java/com/yigongil/backend/domain/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/Study.java
Labels: backend🤎, feat

#21 chore: 백엔드 코드 오너 기능 추가
  .github/CODEOWNERS
Labels: backend🤎, chore, phoa'i🏃

#22 feat: repository 추가, 패키지 수정
  backend/src/main/java/com/yigongil/backend/domain/BaseEntity.java
  backend/src/main/java/com/yigongil/backend/domain/Member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/Member/MemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/Applicant.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/ApplicantRepository.java
  backend/src/main/java/com/yigongil/backend/domain/optionaltodo/OptionalTodo.java
  backend/src/main/java/com/yigongil/backend/domain/optionaltodo/OptionalTodoRepository.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/round/RoundRepository.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
Labels: backend🤎, feat, netflix-george🎅🏻

#23 feat: 요청, 응답 dto 추가
  backend/src/main/java/com/yigongil/backend/request/ProfileUpdateRequest.java
  backend/src/main/java/com/yigongil/backend/request/StudyApprovalRequest.java
  backend/src/main/java/com/yigongil/backend/request/StudyCreateRequest.java
  backend/src/main/java/com/yigongil/backend/request/TodoCreateRequest.java
  backend/src/main/java/com/yigongil/backend/request/TodoUpdateRequest.java
  backend/src/main/java/com/yigongil/backend/response/FinishedStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/HomeResponse.java
  backend/src/main/java/com/yigongil/backend/response/MemberOfRoundResponse.java
  backend/src/main/java/com/yigongil/backend/response/MemberResponse.java
  backend/src/main/java/com/yigongil/backend/response/MyStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/NicknameValidationResponse.java
  backend/src/main/java/com/yigongil/backend/response/RecruitingStudyMemberResponse.java
  backend/src/main/java/com/yigongil/backend/response/RecruitingStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/RoundNumberResponse.java
  backend/src/main/java/com/yigongil/backend/response/RoundResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyDetailResponse.java
  backend/src/main/java/com/yigongil/backend/response/TodoResponse.java
  backend/src/main/java/com/yigongil/backend/response/UpcomingStudyResponse.java
Labels: backend🤎, feat, ε'miliene🏊, phoa'i🏃, netflix-george🎅🏻

#24 feat: 내 정보 작성 기능 추가
  backend/build.gradle
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/config/JpaConfig.java
  backend/src/main/java/com/yigongil/backend/config/WebConfig.java
  backend/src/main/java/com/yigongil/backend/config/auth/LoginInterceptor.java
  backend/src/main/java/com/yigongil/backend/config/auth/MemberArgumentResolver.java
  backend/src/main/java/com/yigongil/backend/domain/BaseEntity.java
  backend/src/main/java/com/yigongil/backend/domain/Member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/Member/MemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/Applicant.java
  backend/src/main/java/com/yigongil/backend/domain/member/Introduction.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/member/MemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/member/Nickname.java
  backend/src/main/java/com/yigongil/backend/domain/optionaltodo/OptionalTodo.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/exception/CustomError.java
  backend/src/main/java/com/yigongil/backend/exception/HttpException.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidIntroductionLengthException.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidNicknameLengthException.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidNicknamePatternException.java
  backend/src/main/java/com/yigongil/backend/ui/MemberController.java
  backend/src/test/java/com/yigongil/backend/acceptance/AcceptanceTest.java
  backend/src/test/java/com/yigongil/backend/acceptance/ProfileUpdateAcceptanceTest.java
  backend/src/test/java/com/yigongil/backend/domain/member/MemberTest.java
  backend/src/test/java/com/yigongil/backend/fixture/MemberFixture.java
  backend/src/test/java/com/yigongil/backend/ui/MemberControllerTest.java
Labels: backend🤎, feat, ε'miliene🏊, phoa'i🏃

#34 refactor: argumenetResolver 임시수정
  backend/src/main/java/com/yigongil/backend/config/auth/MemberArgumentResolver.java
Labels: backend🤎, refactor, netflix-george🎅🏻

#40 feat: 임시 인증 interceptor, argumentresolver 구현
  backend/src/main/java/com/yigongil/backend/config/WebConfig.java
  backend/src/main/java/com/yigongil/backend/config/auth/Authorization.java
  backend/src/main/java/com/yigongil/backend/config/auth/LoginInterceptor.java
  backend/src/main/java/com/yigongil/backend/config/auth/MemberArgumentResolver.java
  backend/src/main/java/com/yigongil/backend/ui/MemberController.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/AcceptanceTest.java
  backend/src/test/java/com/yigongil/backend/acceptance/ProfileUpdateAcceptanceTest.java
  backend/src/test/java/com/yigongil/backend/ui/MemberControllerTest.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
Labels: backend🤎, feat, netflix-george🎅🏻

#49 fix: JUnit5와 Cucumber 호환 문제 해결을 위한 gradle 의존성 추가
  backend/build.gradle
Labels: backend🤎, fix, jasmine👙

#50 [깃허브 인프라] github action으로 테스트 자동화
  .github/workflows/android-test.yml
Labels: android💚, chore, 선희☀️

#47 feat: 멤버 생성 api 구현
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/config/auth/LoginInterceptor.java
  backend/src/main/java/com/yigongil/backend/domain/member/Introduction.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/member/Nickname.java
  backend/src/main/java/com/yigongil/backend/request/MemberJoinRequest.java
  backend/src/main/java/com/yigongil/backend/ui/MemberController.java
  backend/src/test/java/com/yigongil/backend/acceptance/ProfileUpdateAcceptanceTest.java
Labels: backend🤎, feat, netflix-george🎅🏻

#39 feat: 모집 중인 스터디 목록 조회
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/config/auth/MemberArgumentResolver.java
  backend/src/main/java/com/yigongil/backend/domain/member/MemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/member/Nickname.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/study/PageStrategy.java
  backend/src/main/java/com/yigongil/backend/domain/study/PeriodUnit.java
  backend/src/main/java/com/yigongil/backend/domain/study/ProcessingStatus.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
  backend/src/main/java/com/yigongil/backend/response/RecruitingStudyResponse.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/main/java/com/yigongil/backend/utils/DateConverter.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/SharedContext.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/java/com/yigongil/backend/domain/study/PeriodUnitTest.java
  backend/src/test/resources/features/find-recruiting-studies.feature
Labels: backend🤎, feat, ε'miliene🏊

#44 feat: 스터디 참여 신청 기능 구현
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/Applicant.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/ApplicantRepository.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
  backend/src/main/java/com/yigongil/backend/exception/ApplicantAlreadyExistException.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidProcessingStatusException.java
  backend/src/main/java/com/yigongil/backend/exception/StudyMemberAlreadyExistException.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ApplySteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ProfileSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/java/com/yigongil/backend/application/StudyServiceTest.java
  backend/src/test/java/com/yigongil/backend/domain/applicant/ApplicantTest.java
  backend/src/test/java/com/yigongil/backend/fixture/MemberFixture.java
  backend/src/test/java/com/yigongil/backend/fixture/RoundFixture.java
  backend/src/test/java/com/yigongil/backend/fixture/RoundOfMemberFixture.java
  backend/src/test/java/com/yigongil/backend/fixture/StudyFixture.java
  backend/src/test/resources/features/apply-study.feature
Labels: backend🤎, feat, jasmine👙

#38 feat: 투두 생성 기능 추가
  backend/src/main/java/com/yigongil/backend/application/TodoService.java
  backend/src/main/java/com/yigongil/backend/domain/optionaltodo/OptionalTodo.java
  backend/src/main/java/com/yigongil/backend/domain/optionaltodo/OptionalTodoRepository.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/round/RoundRepository.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidTodoLengthException.java
  backend/src/main/java/com/yigongil/backend/exception/NecessaryTodoAlreadyExistException.java
  backend/src/main/java/com/yigongil/backend/exception/NotStudyMasterException.java
  backend/src/main/java/com/yigongil/backend/exception/NotStudyMemberException.java
  backend/src/main/java/com/yigongil/backend/exception/RoundNotFoundException.java
  backend/src/main/java/com/yigongil/backend/exception/StudyNotFoundException.java
  backend/src/main/java/com/yigongil/backend/exception/TooManyOptionalTodosException.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/HttpMethodSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/SharedContext.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/TodoSteps.java
  backend/src/test/java/com/yigongil/backend/application/TodoServiceTest.java
  backend/src/test/java/com/yigongil/backend/domain/round/RoundTest.java
  backend/src/test/java/com/yigongil/backend/domain/roundofmember/RoundOfMemberTest.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
  backend/src/test/resources/features/create-todo.feature
Labels: backend🤎, feat, phoa'i🏃

#52 [깃허브 인프라] github action으로 테스트 자동화
  .github/workflows/android-test.yml
  .gitignore
  android/gradle/wrapper/gradle-wrapper.jar
Labels: android💚, chore, 선희☀️

#53 test: 요청 인증 헤더 추가
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/HttpMethodSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ProfileSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/SharedContext.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/resources/features/apply-study.feature
  backend/src/test/resources/features/create-study.feature
  backend/src/test/resources/features/create-todo.feature
  backend/src/test/resources/features/find-recruiting-studies.feature
  backend/src/test/resources/features/update-profile.feature
Labels: backend🤎, fix, jasmine👙, ε'miliene🏊, phoa'i🏃

#55 feat: 스터디 상세조회 기능
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/member/MemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/member/Nickname.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
  backend/src/main/java/com/yigongil/backend/response/RecruitingStudyMemberResponse.java
  backend/src/main/java/com/yigongil/backend/response/RoundNumberResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyDetailResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyMemberResponse.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/AcceptanceTest.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/java/com/yigongil/backend/application/StudyServiceTest.java
  backend/src/test/resources/features/study-detail.feature
Labels: backend🤎, feat, netflix-george🎅🏻

#15 [홈 탭] 홉 탭 디자인 및 기능 구현
  android/app/build.gradle
  android/app/src/main/java/com/created/team201/data/remote/NetworkModule.kt
  android/app/src/main/java/com/created/team201/presentation/home/CustomViewPager.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeFragment.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/home/adapter/DashboardAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/home/adapter/HomeGrassAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/home/adapter/OptionalToDoAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/home/adapter/viewholder/DashboardViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/home/adapter/viewholder/HomeGrassViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/home/adapter/viewholder/OptionalToDoViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/home/model/Grass.kt
  android/app/src/main/java/com/created/team201/presentation/home/model/StudyUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/home/model/TodoUiModel.kt
  android/app/src/main/java/com/created/team201/util/BindingAdapter.kt
  android/app/src/main/res/drawable/bg_rectangle_radius_10dp.xml
  android/app/src/main/res/drawable/bg_rectangle_radius_5dp.xml
  android/app/src/main/res/drawable/ic_grass_bottom.xml
  android/app/src/main/res/drawable/ic_grass_top.xml
  android/app/src/main/res/drawable/ic_selector_grass_bottom.xml
  android/app/src/main/res/drawable/ic_selector_grass_middle.xml
  android/app/src/main/res/drawable/ic_selector_grass_top.xml
  android/app/src/main/res/drawable/ic_selector_home_check_btn.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_study_manage.xml
  android/app/src/main/res/layout/item_home.xml
  android/app/src/main/res/layout/item_home_grass.xml
  android/app/src/main/res/layout/item_home_optional_todo.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/created/team201/ExampleUnitTest.kt
  android/app/src/test/java/com/created/team201/data/gitkeep
  android/app/src/test/java/com/created/team201/presentation/home/StudyUiModelTest.kt
  android/domain/src/main/java/com/created/domain/model/Study.kt
  android/domain/src/main/java/com/created/domain/model/Todo.kt
  android/domain/src/main/java/com/created/domain/model/UserInfo.kt
Labels: android💚, feat, さんくん🐯

#16 [스터디 목록 탭] 스터디 목록 탭 기능 구현
  android/app/build.gradle
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/adapter/StudyListAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/adapter/StudyListBindingAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/adapter/StudyListViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/model/PeriodUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/model/StudyStatus.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/model/StudySummaryUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/model/TierImage.kt
  android/app/src/main/res/drawable/bg_rectangle_radius_5dp_transparent.xml
  android/app/src/main/res/drawable/divider_study_list.xml
  android/app/src/main/res/drawable/ic_processing.xml
  android/app/src/main/res/layout/fragment_study_list.xml
  android/app/src/main/res/layout/item_study_list.xml
  android/app/src/main/res/menu/menu_study_list.xml
  android/app/src/main/res/values/arrays.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/Page.kt
  android/domain/src/main/java/com/created/domain/Period.kt
  android/domain/src/main/java/com/created/domain/PeriodUnit.kt
  android/domain/src/main/java/com/created/domain/StudySummary.kt
Labels: android💚, feat, ringring🤙

#20 [스터디 개설 뷰] 스터디 개설 뷰 기능 구현
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/common/BindingBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/bottomSheet/CycleBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/bottomSheet/PeopleCountBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/bottomSheet/PeriodBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/bottomSheet/StartDateBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/custom/Calendar.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/custom/IconTextButton.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/custom/MultiPicker.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/custom/MultiPickerBindingAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/custom/MultiPickerChangeListener.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/custom/SinglePicker.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/custom/decorator/SaturdayDecorator.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/custom/decorator/SundayDecorator.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/custom/decorator/TodayDecorator.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/model/CreateStudyUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/model/PeriodUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/model/StudySummaryUiModel.kt
  android/app/src/main/res/color/tv_color_disabled.xml
  android/app/src/main/res/drawable/bg_bottom_sheet_top_radius_20dp.xml
  android/app/src/main/res/drawable/bg_btn_color_and_radius_10dp_disabled.xml
  android/app/src/main/res/drawable/bg_rectangle_only_radius_10dp.xml
  android/app/src/main/res/drawable/ic_calendar_left_arrow.xml
  android/app/src/main/res/drawable/ic_calendar_right_arrow.xml
  android/app/src/main/res/layout/activity_create_study.xml
  android/app/src/main/res/layout/calendar.xml
  android/app/src/main/res/layout/fragment_cycle_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_people_count_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_period_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_start_date_bottom_sheet.xml
  android/app/src/main/res/layout/icon_text_button.xml
  android/app/src/main/res/layout/multi_picker.xml
  android/app/src/main/res/layout/single_picker.xml
  android/app/src/main/res/values/arrays.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/domain/build.gradle
  android/domain/src/main/java/com/created/domain/model/CreateStudy.kt
  android/domain/src/main/java/com/created/domain/model/Period.kt
  android/gradle.properties
  android/settings.gradle
Labels: android💚, feat, 선희☀️

#26 [스터디 상세보기] 스터디상세보기 뷰 기능 구현
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/studyList/CustomProfileImage.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyDetailActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyDetailViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyParticipantsAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyPeopleViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/uiModel/StudyParticipant.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/uiModel/StudyUIModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/uiModel/Tier.kt
  android/app/src/main/res/drawable/bg_rectangle_radius_10dp_green01.xml
  android/app/src/main/res/drawable/btn_rectangle_radius_10dp.xml
  android/app/src/main/res/drawable/progress_study_success_rate.xml
  android/app/src/main/res/layout/activity_study_detail.xml
  android/app/src/main/res/layout/custom_profile_image.xml
  android/app/src/main/res/layout/fragment_chat.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_study_manage.xml
  android/app/src/main/res/layout/item_study_detail_study_people.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, ßändäl🌗

#45 [스터디 관리 탭] 스터디 관리 탭 뷰 작성 및 기능 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/chat/ChatFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeFragment.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/CustomProfileImage.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/adapter/StudyParticipantsAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/adapter/StudyPeopleViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/adapter/StudyListAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/StudyManageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/StudyManageViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/adapter/StudyManageAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/adapter/StudyManageViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/model/OnGoingStudiesUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/model/OnGoingStudyStatus.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/model/StudyManageUiModel.kt
  android/app/src/main/res/layout/activity_study_detail.xml
  android/app/src/main/res/layout/fragment_study_manage.xml
  android/app/src/main/res/layout/item_study_detail_study_people.xml
  android/app/src/main/res/layout/item_study_list.xml
  android/app/src/main/res/layout/item_study_manage.xml
  android/app/src/main/res/values/arrays.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle
Labels: android💚, feat, ringring🤙

#58 feat: 투두 수정 기능 구현
  backend/src/main/java/com/yigongil/backend/application/TodoService.java
  backend/src/main/java/com/yigongil/backend/domain/optionaltodo/OptionalTodo.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/exception/TodoNotFoundException.java
  backend/src/main/java/com/yigongil/backend/request/TodoUpdateRequest.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/HttpMethodSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/TodoSteps.java
  backend/src/test/java/com/yigongil/backend/application/TodoServiceTest.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
  backend/src/test/resources/features/create-todo.feature
Labels: backend🤎, feat, phoa'i🏃

#62 refactor: 네임드 파라미터를 통한 쿼리 메서드에 @Param 어노테이션 추가
  backend/src/main/java/com/yigongil/backend/domain/member/MemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/round/RoundRepository.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
Labels: backend🤎, fix

#63 feat: 스터디 지원자 조회 기능
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/Applicant.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/ApplicantRepository.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ApplySteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/HttpMethodSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MemberSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ProfileSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/SharedContext.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/TodoSteps.java
  backend/src/test/resources/features/apply-and-find-study.feature
  backend/src/test/resources/features/apply-study.feature
  backend/src/test/resources/features/create-and-find-recruiting-studies.feature
  backend/src/test/resources/features/create-and-find-todo.feature
  backend/src/test/resources/features/create-study.feature
  backend/src/test/resources/features/create-todo.feature
  backend/src/test/resources/features/find-recruiting-studies.feature
  backend/src/test/resources/features/find-round.feature
  backend/src/test/resources/features/study-detail.feature
  backend/src/test/resources/features/update-profile.feature
Labels: backend🤎, feat

#72 feat: 홈 화면 뷰 날짜 제외 구현
  backend/src/main/java/com/yigongil/backend/application/RoundService.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMembers.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMember.java
  backend/src/main/java/com/yigongil/backend/response/HomeResponse.java
  backend/src/main/java/com/yigongil/backend/ui/HomeController.java
  backend/src/test/java/com/yigongil/backend/domain/roundofmember/RoundOfMembersTest.java
Labels: backend🤎, feat, netflix-george🎅🏻

#80 refactor: periodOfRound String으로 반환
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/response/StudyDetailResponse.java
Labels: backend🤎, refactor

#75 feat: 선택 투두 삭제 기능 추가
  backend/src/main/java/com/yigongil/backend/application/TodoService.java
  backend/src/main/java/com/yigongil/backend/domain/optionaltodo/OptionalTodoRepository.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/exception/NotTodoOwnerException.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/TodoSteps.java
  backend/src/test/resources/features/create-todo.feature
Labels: backend🤎, feat, phoa'i🏃

#64 feat: 스터디 참여 허가 기능 구현
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/Applicant.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/ApplicantRepository.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMember.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMemberRepository.java
  backend/src/main/java/com/yigongil/backend/exception/ApplicantNotFoundException.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidMemberSizeException.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidProcessingStatusException.java
  backend/src/main/java/com/yigongil/backend/exception/NotStudyApplicantException.java
  backend/src/main/java/com/yigongil/backend/request/StudyApprovalRequest.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ApplySteps.java
  backend/src/test/java/com/yigongil/backend/application/StudyServiceTest.java
  backend/src/test/resources/features/permit-applicant.feature
Labels: backend🤎, feat, jasmine👙

#82 feat: Round 시간 추가, 라운드 순서대로 시작 날짜 갱신
  backend/src/main/java/com/yigongil/backend/application/RoundService.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/test/java/com/yigongil/backend/application/RoundServiceTest.java
  backend/src/test/java/com/yigongil/backend/fixture/RoundFixture.java
Labels: backend🤎, feat

#84 [스터디 개설 뷰] 스터디 개설 뷰 서버 통신 구현
  android/app/build.gradle
  android/app/src/main/java/com/created/team201/data/datasource/remote/CreateStudyRemoteDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/CreateStudyRemoteDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/gitkeep
  android/app/src/main/java/com/created/team201/data/mapper/CreateStudyMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/gitkeep
  android/app/src/main/java/com/created/team201/data/remote/NetworkModule.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkServiceModule.kt
  android/app/src/main/java/com/created/team201/data/remote/api/CreateStudyService.kt
  android/app/src/main/java/com/created/team201/data/remote/api/gitkeep
  android/app/src/main/java/com/created/team201/data/remote/request/CreateStudyRequestDto.kt
  android/app/src/main/java/com/created/team201/data/remote/request/gitkeep
  android/app/src/main/java/com/created/team201/data/repository/CreateStudyRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/data/repository/gitkeep
  android/app/src/main/java/com/created/team201/presentation/common/BindingBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyViewModel.kt
  android/app/src/main/java/com/created/team201/util/NonNullLiveData.kt
  android/app/src/main/java/com/created/team201/util/NonNullMutableLiveData.kt
  android/app/src/main/res/layout/activity_create_study.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/model/CreateStudy.kt
  android/domain/src/main/java/com/created/domain/repository/CreateStudyRepository.kt
Labels: android💚, feat, 선희☀️

#86 feat: 홈 뷰 날짜 계산 기능 추가
  backend/src/main/java/com/yigongil/backend/application/RoundService.java
Labels: backend🤎, feat, netflix-george🎅🏻

#85 [스터디 목록 탭] 스터디 목록 탭 서버 통신 구현
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyListDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyListDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyListMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkServiceModule.kt
  android/app/src/main/java/com/created/team201/data/remote/api/StudyListService.kt
  android/app/src/main/java/com/created/team201/data/remote/response/StudySummaryResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/gitkeep
  android/app/src/main/java/com/created/team201/data/repository/StudyListRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/adapter/StudyListBindingAdapter.kt
  android/app/src/main/res/layout/fragment_study_list.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/PeriodUnit.kt
  android/domain/src/main/java/com/created/domain/StudySummary.kt
  android/domain/src/main/java/com/created/domain/repository/StudyListRepository.kt
Labels: android💚, feat, ringring🤙

#89 [스터디 관리 탭] 스터디 관리 탭 서버 통신 구현
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyManageDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyManageDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyManagerMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkServiceModule.kt
  android/app/src/main/java/com/created/team201/data/remote/api/StudyManageService.kt
  android/app/src/main/java/com/created/team201/data/remote/response/StudyManageResponseDto.kt
  android/app/src/main/java/com/created/team201/data/repository/StudyManageRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/StudyManageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/StudyManageViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/adapter/StudyManageAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/adapter/StudyManageViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/model/MyStudiesUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/model/MyStudyStatus.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/model/StudyManageUiModel.kt
  android/app/src/main/res/layout/fragment_study_manage.xml
  android/domain/src/main/java/com/created/domain/model/Role.kt
  android/domain/src/main/java/com/created/domain/model/StudyManage.kt
  android/domain/src/main/java/com/created/domain/repository/StudyManageRepository.kt
Labels: android💚, feat, ringring🤙

#88 내 스터디 목록 조회 기능 추가
  backend/src/main/java/com/yigongil/backend/application/RoundService.java
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/Applicant.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/study/Role.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
  backend/src/main/java/com/yigongil/backend/response/MyStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyDetailResponse.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MyStudyFindSteps.java
  backend/src/test/resources/features/find-studies.feature
  backend/src/test/resources/features/permit-applicant.feature
  backend/src/test/resources/features/study-detail.feature
Labels: backend🤎, feat, ε'miliene🏊

#93 [홈 탭] 홈 서버연결 구현
  android/app/src/androidTest/java/com/created/team201/ExampleInstrumentedTest.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/HomeDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/HomeDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/mapper/HomeMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkServiceModule.kt
  android/app/src/main/java/com/created/team201/data/remote/api/HomeService.kt
  android/app/src/main/java/com/created/team201/data/remote/request/TodoRequestDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/StudyResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/TodoResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/UserStudiesResponseDto.kt
  android/app/src/main/java/com/created/team201/data/repository/HomeRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/chat/ChatFragment.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeFragment.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageFragment.kt
  android/app/src/main/res/layout/item_home.xml
  android/domain/src/main/java/com/created/domain/MyClass.kt
  android/domain/src/main/java/com/created/domain/model/Study.kt
  android/domain/src/main/java/com/created/domain/model/UserInfo.kt
  android/domain/src/main/java/com/created/domain/repository/HomeRepository.kt
Labels: android💚, feat, さんくん🐯

#96 feat: 스터디 신청 취소 기능 구현
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ApplySteps.java
  backend/src/test/resources/features/cancel-apply-and-find-study.feature
Labels: backend🤎, feat, jasmine👙

#107 fix: local로 수정
  .gitmodules
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
Labels: backend🤎, chore, netflix-george🎅🏻

#99 StudyMember에 Role 넣고 리팩터링
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/Applicant.java
  backend/src/main/java/com/yigongil/backend/domain/applicant/ApplicantRepository.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMember.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMemberRepository.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidStudyMemberException.java
  backend/src/main/resources/console-appender.xml
  backend/src/main/resources/file-appender.xml
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ApplySteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MyStudyFindSteps.java
  backend/src/test/java/com/yigongil/backend/application/StudyServiceTest.java
  backend/src/test/java/com/yigongil/backend/domain/applicant/ApplicantTest.java
Labels: backend🤎, refactor, netflix-george🎅🏻

#105 [마이페이지 뷰] 마이페이지 뷰 작성
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/layout_user_study_result_information.xml
  android/app/src/main/res/menu/menu_my_page.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: android💚, feat, 선희☀️

#111 [프로필 뷰] 프로필 뷰 작성
  android/app/src/main/res/drawable/ic_success_rate.xml
  android/app/src/main/res/layout/activity_profile.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/layout_user_study_result_information.xml
  android/app/src/main/res/menu/menu_profile.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: android💚, feat, ringring🤙

#113 [스터디 관리하기 시작 후 뷰] 스터디 관리하기 시작 후 뷰 작성
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementActivity.kt
  android/app/src/main/res/layout/activity_study_management.xml
  android/app/src/main/res/layout/custom_profile_image.xml
  android/app/src/main/res/layout/item_study_management.xml
  android/app/src/main/res/layout/item_study_management_optional_todos.xml
  android/app/src/main/res/layout/item_study_management_study_member.xml
  android/app/src/main/res/menu/menu_study_management.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, ßändäl🌗

#115 [로그인 뷰] 로그인 레이아웃 작업 완료
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/login/LoginActivity.kt
  android/app/src/main/res/drawable/btn_rectangle_radius_12dp.xml
  android/app/src/main/res/drawable/ic_github.xml
  android/app/src/main/res/drawable/ic_logo_login.xml
  android/app/src/main/res/drawable/ic_logo_splash.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, さんくん🐯

#117 [스플래시 뷰] 스플래시 뷰 디자인 완료
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/splash/SplashActivity.kt
  android/app/src/main/res/layout/activity_splash.xml
Labels: android💚, feat, さんくん🐯

#119 feat: 스터디 시작 구현
  backend/src/main/java/com/yigongil/backend/application/RoundService.java
  backend/src/main/java/com/yigongil/backend/application/StudyEventListener.java
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/application/studyevent/StudyStartedEvent.java
  backend/src/main/java/com/yigongil/backend/domain/study/PeriodUnit.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
  backend/src/main/java/com/yigongil/backend/exception/CannotStartException.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/java/com/yigongil/backend/application/RoundServiceTest.java
  backend/src/test/java/com/yigongil/backend/application/StudyServiceTest.java
  backend/src/test/java/com/yigongil/backend/domain/study/StudyTest.java
  backend/src/test/java/com/yigongil/backend/fixture/StudyFixture.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/features/study-progress.feature
Labels: backend🤎, feat, netflix-george🎅🏻

#114 refactor: StudyMember result 추가
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/Role.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMember.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyResult.java
  backend/src/main/java/com/yigongil/backend/response/StudyDetailResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyMemberResponse.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MyStudyFindSteps.java
Labels: backend🤎, refactor, netflix-george🎅🏻

#124 feat: 스터디 멤버 모든 라운드에 추가 기능 구현
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/test/java/com/yigongil/backend/application/StudyServiceTest.java
  backend/src/test/java/com/yigongil/backend/application/TodoServiceTest.java
  backend/src/test/java/com/yigongil/backend/domain/study/StudyTest.java
  backend/src/test/java/com/yigongil/backend/fixture/RoundFixture.java
  backend/src/test/java/com/yigongil/backend/fixture/StudyFixture.java
Labels: backend🤎, feat, jasmine👙, ε'miliene🏊

#125 feat: 프로필 조회 기능 추가
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMember.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMemberRepository.java
  backend/src/main/java/com/yigongil/backend/exception/MemberNotFoundException.java
  backend/src/main/java/com/yigongil/backend/response/FinishedStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/MyProfileResponse.java
  backend/src/main/java/com/yigongil/backend/response/ProfileResponse.java
  backend/src/main/java/com/yigongil/backend/response/RecruitingStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyMemberResponse.java
  backend/src/main/java/com/yigongil/backend/ui/MemberController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MemberSteps.java
  backend/src/test/java/com/yigongil/backend/domain/round/RoundTest.java
  backend/src/test/java/com/yigongil/backend/ui/MemberControllerTest.java
  backend/src/test/resources/features/update-profile.feature
Labels: backend🤎, feat, phoa'i🏃

#134 fix: 설정 파일 분리
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
Labels: backend🤎, fix, netflix-george🎅🏻

#143 fix: local profile 설정
  backend/src/main/resources/application.yml
Labels: backend🤎, fix

#136 [스터디 개설 뷰] 스터디 개설 뷰 리펙터링
  android/app/build.gradle
  android/app/src/main/java/com/created/team201/data/mapper/StudyListMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyManagerMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/request/CreateStudyRequestDto.kt
  android/app/src/main/java/com/created/team201/data/repository/CreateStudyRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/data/repository/StudyListRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/model/PeriodUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/model/PeriodUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/StudyManageViewModel.kt
  android/app/src/main/res/layout/activity_create_study.xml
  android/app/src/main/res/layout/fragment_cycle_bottom_sheet.xml
  android/app/src/main/res/layout/item_study_list.xml
  android/app/src/test/java/com/created/team201/data/MockNetworkModule.kt
  android/app/src/test/java/com/created/team201/data/MockServer.kt
  android/app/src/test/java/com/created/team201/data/MockServiceModule.kt
  android/app/src/test/java/com/created/team201/data/gitkeep
  android/app/src/test/java/com/created/team201/data/repository/CreateStudyRepositoryTest.kt
  android/app/src/test/java/com/created/team201/data/request/CreateStudyRequestDtoTest.kt
  android/app/src/test/java/com/created/team201/presentation/createStudy/CreateStudyFixture.kt
  android/app/src/test/java/com/created/team201/presentation/createStudy/CreateStudyViewModelTest.kt
  android/app/src/test/java/com/created/team201/presentation/util/LiveDataExtension.kt
  android/domain/build.gradle
  android/domain/src/main/java/com/created/domain/Period.kt
  android/domain/src/main/java/com/created/domain/PeriodUnit.kt
  android/domain/src/main/java/com/created/domain/model/Page.kt
  android/domain/src/main/java/com/created/domain/model/Period.kt
  android/domain/src/main/java/com/created/domain/model/PeriodUnit.kt
  android/domain/src/main/java/com/created/domain/model/StudyManage.kt
  android/domain/src/main/java/com/created/domain/model/StudySummary.kt
  android/domain/src/main/java/com/created/domain/repository/CreateStudyRepository.kt
  android/domain/src/main/java/com/created/domain/repository/StudyListRepository.kt
  android/domain/src/test/java/com/created/domain/model/PeriodUnitTest.kt
  android/gradlew
Labels: android💚, refactor, 선희☀️
