Repository woowacourse-teams/2023-yigongil, pull requests merged in 2023-10, with the labels that each got.

#461 [마이페이지 뷰] 리펙터링
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageFragment.kt
Labels: android💚, refactor, 선희☀️

#465 [스터디 개설 뷰] 스터디 개설 뷰 리펙터링 및 UpdateStudy 제거
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/FirstCreateStudyFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/SecondCreateStudyFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/bottomSheet/CycleBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/bottomSheet/PeopleCountBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/bottomSheet/StudyDateBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/model/CreateStudyUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/model/FragmentState.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/model/FragmentType.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/util/BindingAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/custom/Calendar.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/custom/IconTextButton.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/custom/MultiPicker.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/custom/MultiPickerBindingAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/custom/MultiPickerChangeListener.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/custom/SinglePicker.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/custom/decorator/SaturdayDecorator.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/custom/decorator/SundayDecorator.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/custom/decorator/TodayDecorator.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListFragment.kt
  android/app/src/main/java/com/created/team201/presentation/updateStudy/UpdateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/updateStudy/UpdateStudyViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/updateStudy/bottomSheet/CycleBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/updateStudy/model/PeriodUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/updateStudy/model/UpdateStudyUiModel.kt
  android/app/src/main/res/layout/activity_create_study.xml
  android/app/src/main/res/layout/activity_study_detail.xml
  android/app/src/main/res/layout/activity_update_study.xml
  android/app/src/main/res/layout/dialog_study_informaion.xml
  android/app/src/main/res/layout/fragment_cycle_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_first_create_study.xml
  android/app/src/main/res/layout/fragment_people_count_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_second_create_study.xml
  android/app/src/main/res/layout/fragment_start_date_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_study_date_bottom_sheet.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, refactor, 선희☀️

#470 엔티티를 수정하며 발생한 컴파일 에러 해결
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMember.java
  backend/src/main/java/com/yigongil/backend/response/FinishedStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/MyStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/RecruitingStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyDetailResponse.java
  backend/src/test/java/com/yigongil/backend/domain/study/StudyTest.java
  backend/src/test/java/com/yigongil/backend/fixture/StudyFixture.java
Labels: backend🤎, fix, jasmine👙

#474 refactor: swagger 설정 변경
  backend/src/main/java/com/yigongil/backend/config/AuthConfig.java
  backend/src/main/java/com/yigongil/backend/config/SwaggerConfig.java
  backend/src/main/resources/application.yml
Labels: backend🤎, refactor

#480 [즉시 업데이트] 즉시 업데이트 기능 구현
  android/app/build.gradle
  android/app/src/main/java/com/created/team201/presentation/splash/InAppUpdateDialog.kt
  android/app/src/main/java/com/created/team201/presentation/splash/SplashActivity.kt
  android/app/src/main/res/layout/layout_dialog_in_app_update.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, 선희☀️

#477 [스플래시 뷰] 자동 로그인 수정
  android/app/src/main/java/com/created/team201/data/datasource/local/DefaultTokenDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/local/TokenStorage.kt
  android/app/src/main/java/com/created/team201/data/di/NetworkModule.kt
  android/app/src/main/java/com/created/team201/data/remote/CallAdapterFactory.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkResponseCall.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkResponseCallAdapter.kt
  android/app/src/main/java/com/created/team201/data/remote/api/AuthService.kt
  android/app/src/main/java/com/created/team201/data/repository/DefaultAuthRepository.kt
  android/app/src/main/java/com/created/team201/data/repository/DefaultGuestRepository.kt
  android/app/src/main/java/com/created/team201/data/repository/DefaultSettingRepository.kt
  android/app/src/main/java/com/created/team201/presentation/splash/SplashActivity.kt
  android/app/src/main/java/com/created/team201/presentation/splash/SplashViewModel.kt
  android/domain/src/main/java/com/created/domain/model/response/NetworkResponse.kt
  android/domain/src/main/java/com/created/domain/repository/AuthRepository.kt
Labels: android💚, refactor, 선희☀️

#488 feat: 스터디 종료 기능 추가
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/exception/CannotEndException.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
Labels: backend🤎, refactor

#487 feat: 지원한 스터디 목록 조회 기능
  backend/build.gradle
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/config/QueryFactoryConfig.java
  backend/src/main/java/com/yigongil/backend/domain/study/studyquery/StudyQueryFactory.java
  backend/src/main/java/com/yigongil/backend/domain/study/studyquery/StudyQueryRepository.java
  backend/src/main/java/com/yigongil/backend/domain/study/studyquery/StudyQueryRepositoryImpl.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/java/com/yigongil/backend/domain/study/studyquery/StudyQueryFactoryTest.java
  backend/src/test/java/com/yigongil/backend/domain/study/studyquery/StudyQueryRepositoryImplTest.java
  backend/src/test/resources/features/find-study.feature
Labels: backend🤎, feat

#493 fix: 마스터 탈퇴 시 정상적으로 스터디 삭제되게 수정
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
Labels: backend🤎, fix

#481 [스터디 상세보기 뷰] 스터디 시작 시 보여질 요일 선택 뷰를 구현합니다.
  android/app/src/main/java/com/created/team201/presentation/common/customview/dayofselector/DayOfWeek.kt
  android/app/src/main/java/com/created/team201/presentation/common/customview/dayofselector/DayOfWeekSelector.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/bottomSheet/StudyStartBottomSheetFragment.kt
  android/app/src/main/res/drawable/bg_day_of_week_selector.xml
  android/app/src/main/res/drawable/bg_day_of_week_selector_multi_select.xml
  android/app/src/main/res/drawable/bg_day_of_week_selector_single_select.xml
  android/app/src/main/res/drawable/ic_close.xml
  android/app/src/main/res/drawable/selector_study_start_bottom_sheet_btn_start_text_color.xml
  android/app/src/main/res/layout/fragment_study_start_bottom_sheet.xml
  android/app/src/main/res/layout/view_day_of_week_selector.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, ßändäl🌗

#502 [스터디 개설] 스터디 개설 통신 로직 수정
  android/app/src/main/java/com/created/team201/data/di/RepositoryModule.kt
  android/app/src/main/java/com/created/team201/data/di/ServiceModule.kt
  android/app/src/main/java/com/created/team201/data/mapper/CreateStudyMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/api/CreateStudyService.kt
  android/app/src/main/java/com/created/team201/data/remote/request/CreateStudyRequestDto.kt
  android/app/src/main/java/com/created/team201/data/repository/DefaultCreateStudyRepository.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/model/CreateStudyUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/model/CreateStudyUiState.kt
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/model/CreateStudy.kt
  android/domain/src/main/java/com/created/domain/repository/CreateStudyRepository.kt
Labels: android💚, refactor, 선희☀️

#505 [스터디 상세보기 뷰] 스터디 시작 서버 연결 및 스터디 상세보기 명세 변경 대응
  android/app/src/main/java/com/created/team201/application/Team201App.kt
  android/app/src/main/java/com/created/team201/data/di/ServiceModule.kt
  android/app/src/main/java/com/created/team201/data/mapper/DayOfWeekMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyDetailMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyListMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyManagementMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyManagerMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyStartMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/api/CommonStudyListService.kt
  android/app/src/main/java/com/created/team201/data/remote/api/MemberStudyListService.kt
  android/app/src/main/java/com/created/team201/data/remote/api/StudyDetailService.kt
  android/app/src/main/java/com/created/team201/data/remote/api/StudyListService.kt
  android/app/src/main/java/com/created/team201/data/remote/request/StudyStartRequestDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/StudyDetailResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/StudyManageResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/StudySummaryResponseDto.kt
  android/app/src/main/java/com/created/team201/data/repository/DefaultStudyDetailRepository.kt
  android/app/src/main/java/com/created/team201/data/repository/DefaultStudyListRepository.kt
  android/app/src/main/java/com/created/team201/presentation/guest/bottomSheet/LoginBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeFragment.kt
  android/app/src/main/java/com/created/team201/presentation/home/adapter/HomeViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/home/uiState/UserStudyUiState.kt
  android/app/src/main/java/com/created/team201/presentation/main/MainActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/bottomSheet/StudyStartBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/model/PeriodFormat.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/model/StudyDetailUIModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/CustomChip.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/model/StudyListFilter.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/model/StudyStatus.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/model/StudySummaryUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/util/BindingAdapter.kt
  android/app/src/main/res/color/chip_color_checked_end.xml
  android/app/src/main/res/color/chip_color_checked_processing.xml
  android/app/src/main/res/color/chip_color_checked_recruiting.xml
  android/app/src/main/res/color/chip_color_checked_waiting.xml
  android/app/src/main/res/color/chip_text_color_checked_end.xml
  android/app/src/main/res/color/chip_text_color_checked_processing.xml
  android/app/src/main/res/color/chip_text_color_checked_recruiting.xml
  android/app/src/main/res/color/chip_text_color_checked_waiting.xml
  android/app/src/main/res/drawable/ic_drop_down.xml
  android/app/src/main/res/drawable/ic_processing.xml
  android/app/src/main/res/drawable/ic_waiting.xml
  android/app/src/main/res/layout/activity_study_detail.xml
  android/app/src/main/res/layout/dialog_study_informaion.xml
  android/app/src/main/res/layout/fragment_study_list.xml
  android/app/src/main/res/layout/item_profile_finished_study.xml
  android/app/src/main/res/layout/item_study_list.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/domain/src/main/java/com/created/domain/model/StudyDetail.kt
  android/domain/src/main/java/com/created/domain/model/StudyStart.kt
  android/domain/src/main/java/com/created/domain/model/StudySummary.kt
  android/domain/src/main/java/com/created/domain/repository/StudyDetailRepository.kt
  android/domain/src/main/java/com/created/domain/repository/StudyListRepository.kt
Labels: android💚, feat, ßändäl🌗

#511 [마이페이지 뷰] 마이페이지 뷰의 티어 경험치를 표시하는 뷰를 추가합니다.
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/model/TierProgress.kt
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/layout_user_study_result_information.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/typography.xml
Labels: android💚, feat, ßändäl🌗

#508 [스터디목록] 개선사항 적용 및 api 변경점 반영
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/guest/bottomSheet/LoginBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/BottomSheetListener.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/CustomChip.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListViewModel.kt
  android/app/src/main/res/layout/fragment_study_list.xml
Labels: android💚, feat, ringring🤙, 선희☀️

#514 [마이페이지 뷰] 티어 경험치 표시 뷰를 서버연동 합니다.
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageViewModel.kt
Labels: android💚, feat, ßändäl🌗

#523 [스터디 상세보기 뷰] 이미 진행 중인 스터디 분기 처리
  android/app/src/main/java/com/created/team201/presentation/studyDetail/model/StudyDetailUIModel.kt
  android/app/src/main/res/layout/activity_study_detail.xml
  android/domain/src/main/java/com/created/domain/model/ProcessingStatus.kt
Labels: android💚, refactor, 선희☀️

#530 [홈 뷰] 스터디 분기 처리 및 스터디 리프레시 구현
  android/app/src/main/java/com/created/team201/presentation/home/HomeFragment.kt
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/item_home_study_list.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, refactor, 선희☀️

#536 [스터디 상세보기] 요일 선택 후 시작이 실패했을 때 피드 이동 금지
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/bottomSheet/StudyStartBottomSheetFragment.kt
  android/app/src/main/res/values/strings.xml
Labels: android💚, fix, 선희☀️

#542 [스레드 뷰 Must Do 바텀시트 다이얼로그] 스레드 뷰에 있는 바텀시트 다이얼로그를 구현하였습니다.
  android/app/src/main/java/com/created/team201/data/mapper/WeeklyMustDoMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/api/ThreadService.kt
  android/app/src/main/java/com/created/team201/data/remote/request/MustDoContentRequestDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/WeeklyMustDoResponseDto.kt
  android/app/src/main/java/com/created/team201/data/repository/DefaultThreadRepository.kt
  android/app/src/main/java/com/created/team201/presentation/common/customview/dayofselector/DayOfWeek.kt
  android/app/src/main/java/com/created/team201/presentation/common/customview/dayofselector/DayOfWeekSelector.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/MustDoBottomSheetFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/ThreadActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/ThreadViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/WarningDialog.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/model/WarningType.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/model/WeeklyMustDoUiModel.kt
  android/app/src/main/res/drawable/ic_check_24.xml
  android/app/src/main/res/layout/activity_thread.xml
  android/app/src/main/res/layout/fragment_must_do_bottom_sheet.xml
  android/app/src/main/res/layout/layout_dialog_thread_warning.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/model/MustDoStatus.kt
  android/domain/src/main/java/com/created/domain/model/WeeklyMustDo.kt
  android/domain/src/main/java/com/created/domain/repository/ThreadRepository.kt
Labels: android💚, feat, ßändäl🌗

#546 fix: 클라이언트 반환 이미지 경로 수정
  backend/src/main/java/com/yigongil/backend/application/ImageResourceService.java
Labels: backend🤎, fix, jasmine👙

#550 [안드로이드 프로젝트] 기초 세팅
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/main/java/com/created/team201/data/remote/interceptor/AuthInterceptor.kt
  android/app/src/main/java/com/created/team201/data/repository/DefaultSplashRepository.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/FirstCreateStudyFragment.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/SecondCreateStudyFragment.kt
  android/app/src/main/java/com/created/team201/presentation/main/MainActivity.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/splash/SplashActivity.kt
  android/app/src/main/java/com/created/team201/presentation/splash/SplashViewModel.kt
  android/app/src/main/res/layout/activity_certification.xml
  android/app/src/main/res/layout/activity_setting.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, chore, 선희☀️

#563 [인 앱 업데이트] 버전 비교 hotfix
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/domain/src/main/java/com/created/domain/repository/SplashRepository.kt
Labels: android💚, fix, 선희☀️

#583 [AN] Develop 브렌치 최신화
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/main/java/com/created/team201/data/mapper/ThreadMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/response/AuthorResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/MustDoCertificationResponseDto.kt
  android/app/src/main/java/com/created/team201/data/repository/DefaultThreadRepository.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/ThreadActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/ThreadViewModel.kt
  android/app/src/main/res/layout/activity_profile.xml
  android/app/src/main/res/layout/activity_thread.xml
  android/app/src/main/res/layout/fragment_must_do_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_study_list.xml
  android/app/src/main/res/layout/item_thread_comment.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/model/Author.kt
  android/domain/src/main/java/com/created/domain/model/MustDo.kt
  android/domain/src/main/java/com/created/domain/repository/SplashRepository.kt
Labels: android💚, chore, 선희☀️

#592 [AN] 툴바(사실 툴바아님) 아이콘 터치 영역 확대 및 검색 바 다크모드 색상 비정상 적용 수정
  android/app/src/main/res/drawable/ic_more_vertical_padding_12dp.xml
  android/app/src/main/res/layout/activity_thread.xml
  android/app/src/main/res/values/themes.xml
Labels: android💚, fix, ßändäl🌗

#586 [AN] 온보딩뷰 수정사항 반영
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/util/OnBoardingBindingAdapter.kt
  android/app/src/main/java/com/created/team201/util/FlowExtension.kt
  android/app/src/main/res/drawable/et_color_focused.xml
  android/app/src/main/res/drawable/et_stroke_fill_color_focused.xml
  android/app/src/main/res/drawable/et_stroke_fill_color_unfocused.xml
  android/app/src/main/res/layout/activity_on_boarding.xml
Labels: android💚, refactor, 선희☀️
