Repository woowacourse-teams/2023-yigongil, pull requests merged in 2023-08, with the labels that each got.

#146 chore: 풀리퀘스트시 테스트 자동화
  .github/workflows/backend-test.yml
Labels: backend🤎, chore, phoa'i🏃

#150 안드로이드 프로젝트 파이어베이스 연동
  .github/workflows/android-test.yml
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/build.gradle
Labels: android💚, chore, さんくん🐯, ringring🤙, ßändäl🌗, 선희☀️

#140 [스터디 관리하기 뷰 시작 후] 스터디 관리하기 뷰 기능 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/data/datasource/remote/HomeDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/HomeDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/remote/api/HomeService.kt
  android/app/src/main/java/com/created/team201/data/remote/response/TodoResponseDto.kt
  android/app/src/main/java/com/created/team201/presentation/common/TodoClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/custom/SinglePicker.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeFragment.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/home/model/TodoUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/adapter/StudyManageViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/Dummy.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementState.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyMemberClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/OptionalTodoViewType.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementMemberAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementMemberViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoAddViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyOptionalTodoViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/OptionalTodoUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/RoundUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/StudyManagementInformationUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/StudyMemberUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/StudyRoundDetailUiModel.kt
  android/app/src/main/java/com/created/team201/util/BindingAdapter.kt
  android/app/src/main/res/drawable/ic_add_todo.xml
  android/app/src/main/res/drawable/ic_add_todo_button.xml
  android/app/src/main/res/drawable/ic_selector_next_button.xml
  android/app/src/main/res/drawable/ic_selector_previous_button.xml
  android/app/src/main/res/layout/activity_study_management.xml
  android/app/src/main/res/layout/fragment_people_count_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_period_bottom_sheet.xml
  android/app/src/main/res/layout/item_study_management.xml
  android/app/src/main/res/layout/item_study_management_optional_todo_add.xml
  android/app/src/main/res/layout/item_study_management_optional_todos.xml
  android/app/src/main/res/layout/item_study_management_study_member.xml
  android/app/src/main/res/menu/menu_study_management.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/model/PageIndex.kt
  android/domain/src/main/java/com/created/domain/model/Round.kt
  android/domain/src/main/java/com/created/domain/model/StudyMember.kt
  android/domain/src/main/java/com/created/domain/model/Todo.kt
Labels: android💚, feat, ringring🤙, ßändäl🌗

#148 [로그인 뷰] 깃허브 로그인 구현~
  .github/workflows/android-test.yml
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/MainActivity.kt
  android/app/src/main/java/com/created/team201/presentation/login/LoginActivity.kt
  android/app/src/main/java/com/created/team201/presentation/login/LoginViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/splash/SplashActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListFragment.kt
  android/app/src/main/java/com/created/team201/util/CustomTabLauncherActivity.kt
  android/app/src/main/java/com/created/team201/util/GitHubCustomTabsClient.kt
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, さんくん🐯, 선희☀️

#157 chore: flyway 적용
  backend/build.gradle
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/main/resources/dev-file-appender.xml
  backend/src/main/resources/file-appender.xml
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/prod-file-appender.xml
Labels: backend🤎, infra

#177 내 정보 조회 api가 interceptor를 거치도록 수정
  backend/src/main/java/com/yigongil/backend/config/WebConfig.java
  backend/src/main/java/com/yigongil/backend/config/auth/AuthInterceptor.java
  backend/src/main/java/com/yigongil/backend/domain/member/Introduction.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
Labels: backend🤎, fix, phoa'i🏃

#185 [스터디 상세보기] 스터디상세보기 뷰 서버통신 구현
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyDetailDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyDetailDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyDetailMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkServiceModule.kt
  android/app/src/main/java/com/created/team201/data/remote/api/StudyDetailService.kt
  android/app/src/main/java/com/created/team201/data/remote/response/MemberResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/RoundResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/StudyDetailResponseDto.kt
  android/app/src/main/java/com/created/team201/data/repository/StudyDetailRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/CustomProfileImage.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailState.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyMemberClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/adapter/StudyParticipantsAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/adapter/StudyPeopleViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/model/PeriodFormat.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/model/StudyDetailUIModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/model/StudyMemberUIModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/model/Tier.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/uiModel/StudyParticipant.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/uiModel/StudyUIModel.kt
  android/app/src/main/java/com/created/team201/util/BindingAdapter.kt
  android/app/src/main/res/drawable/btn_rectangle_radius_10dp.xml
  android/app/src/main/res/layout/activity_study_detail.xml
  android/app/src/main/res/layout/item_study_detail_study_people.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/model/Member.kt
  android/domain/src/main/java/com/created/domain/model/Round.kt
  android/domain/src/main/java/com/created/domain/model/StudyDetail.kt
  android/domain/src/main/java/com/created/domain/repository/StudyDetailRepository.kt
Labels: android💚, feat, ßändäl🌗

#187 [스터디 개설 뷰] 스터디 개설 뷰 리펙터링
  .github/workflows/android-test.yml
  android/app/src/main/java/com/created/team201/data/datasource/remote/CreateStudyDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/CreateStudyDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/CreateStudyRemoteDataSource.kt
  android/app/src/main/java/com/created/team201/data/remote/api/CreateStudyService.kt
  android/app/src/main/java/com/created/team201/data/repository/CreateStudyRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyViewModel.kt
  android/app/src/test/java/com/created/team201/data/MockServer.kt
  android/app/src/test/java/com/created/team201/data/repository/CreateStudyRepositoryTest.kt
  android/app/src/test/java/com/created/team201/presentation/createStudy/CreateStudyViewModelTest.kt
  android/domain/src/main/java/com/created/domain/repository/CreateStudyRepository.kt
Labels: android💚, refactor, 선희☀️

#162 [로그인 뷰] 로그인 서버통신 구현
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/application/Team201App.kt
  android/app/src/main/java/com/created/team201/data/datasource/local/TokenDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/local/TokenDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/datasource/local/TokenStorage.kt
  android/app/src/main/java/com/created/team201/data/datasource/local/gitkeep
  android/app/src/main/java/com/created/team201/data/datasource/remote/ProfileDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/login/AuthDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/login/AuthDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/mapper/UserProfileMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkServiceModule.kt
  android/app/src/main/java/com/created/team201/data/remote/api/AuthService.kt
  android/app/src/main/java/com/created/team201/data/remote/response/AuthResponseDto.kt
  android/app/src/main/java/com/created/team201/data/repository/AuthRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/login/LoginActivity.kt
  android/app/src/main/java/com/created/team201/presentation/login/LoginViewModel.kt
  android/domain/src/main/java/com/created/domain/model/UserProfile.kt
  android/domain/src/main/java/com/created/domain/repository/AuthRepository.kt
Labels: android💚, feat, さんくん🐯, 선희☀️

#191 [홈 탭] 더미데이터 리팩터링
  android/app/src/main/java/com/created/team201/data/mapper/HomeMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/response/StudyResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/TodoResponseDto.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeFragment.kt
  android/app/src/main/java/com/created/team201/presentation/home/HomeViewModel.kt
  android/domain/src/main/java/com/created/domain/model/Todo.kt
Labels: android💚, feat, さんくん🐯

#196 fix: 지원자가 아닌 스터디멤버만 조회하게 수정
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
Labels: backend🤎, fix

#199 refactor: 로그 내용에 stack trace 포함
  backend/src/main/java/com/yigongil/backend/ui/ApiExceptionHandler.java
Labels: backend🤎, refactor, jasmine👙

#201 로그 수정 버전 릴리즈
  backend/src/main/java/com/yigongil/backend/ui/ApiExceptionHandler.java
Labels: backend🤎, refactor, jasmine👙

#200 [스터디 상세보기 뷰] 유저 클릭리스너 구현
  android/app/src/main/java/com/created/team201/data/datasource/remote/login/AuthDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/remote/api/AuthService.kt
  android/app/src/main/java/com/created/team201/data/remote/interceptor/AuthInterceptor.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyMemberClickListener.kt
  android/app/src/main/java/com/created/team201/util/auth/CustomTabLauncherActivity.kt
  android/app/src/main/res/layout/item_study_detail_study_people.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, ßändäl🌗

#209 test: DatabaseCleaner 구현
  backend/src/test/java/com/yigongil/backend/acceptance/steps/AcceptanceTest.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/DatabaseCleaner.java
Labels: backend🤎, refactor, netflix-george🎅🏻

#211 refactor: 투두관련 로직 책임 도메인 이전
  backend/src/main/java/com/yigongil/backend/application/TodoService.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/main/java/com/yigongil/backend/ui/TodoController.java
  backend/src/test/java/com/yigongil/backend/application/TodoServiceTest.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
Labels: backend🤎, refactor, netflix-george🎅🏻

#186 refactor: 도메인의 default 값을 설정한다
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/ui/FakeController.java
  backend/src/test/java/com/yigongil/backend/fixture/RoundOfMemberFixture.java
Labels: backend🤎, refactor, netflix-george🎅🏻

#205 refactor: 로그 파일 생성 설정 변경
  backend/src/main/resources/dev-file-appender.xml
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/prod-file-appender.xml
Labels: backend🤎, refactor, jasmine👙

#246 [설정 뷰] 설정 뷰 작성
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/accountSetting/AccountSettingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingActivity.kt
  android/app/src/main/res/layout/activity_account_setting.xml
  android/app/src/main/res/layout/activity_setting.xml
  android/app/src/main/res/layout/item_setting.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, 선희☀️

#243 [온보딩 뷰] 온보딩 뷰 작성
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingActivity.kt
  android/app/src/main/res/layout/activity_on_boarding.xml
  android/app/src/main/res/values/arrays.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, 선희☀️

#239 [스터디 목록 뷰] 버그 리포팅 오류 해결
  android/app/src/main/java/com/created/team201/presentation/studyManage/StudyManageFragment.kt
  android/app/src/main/res/layout/fragment_study_list.xml
  android/app/src/main/res/layout/item_study_list.xml
  android/app/src/main/res/layout/item_study_manage.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, ringring🤙

#247 [개설 후 스터디 목록 뷰] 버그 리포팅 오류 해결
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoAddViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementViewHolder.kt
  android/app/src/main/res/layout/item_study_manage.xml
  android/app/src/main/res/layout/item_study_management_optional_todo_add.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, ringring🤙, bug

#250 [신고하기 뷰] 신고하기 뷰 작성
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/report/ReportActivity.kt
  android/app/src/main/res/layout/activity_report.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, ringring🤙

#245 fix: 스터디/투두 생성 시에 잘못된 값으로 입력이 넘어와도 정상적으로 생성하는 버그를 수정한다
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/application/RoundService.java
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/config/JacksonConfig.java
  backend/src/main/java/com/yigongil/backend/domain/member/Nickname.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidNumberOfMaximumStudyMember.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidStudyNameLengthException.java
  backend/src/main/java/com/yigongil/backend/request/MemberJoinRequest.java
  backend/src/main/java/com/yigongil/backend/request/ProfileUpdateRequest.java
  backend/src/main/java/com/yigongil/backend/request/StudyCreateRequest.java
  backend/src/main/java/com/yigongil/backend/request/TodoCreateRequest.java
  backend/src/main/java/com/yigongil/backend/response/FinishedStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/MyStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/RecruitingStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyDetailResponse.java
  backend/src/main/java/com/yigongil/backend/response/UpcomingStudyResponse.java
  backend/src/main/java/com/yigongil/backend/ui/ApiExceptionHandler.java
  backend/src/main/java/com/yigongil/backend/ui/MemberController.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/main/java/com/yigongil/backend/utils/DateConverter.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/AcceptanceTest.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/java/com/yigongil/backend/application/RoundServiceTest.java
  backend/src/test/java/com/yigongil/backend/config/JacksonConfigTest.java
  backend/src/test/java/com/yigongil/backend/domain/study/StudyTest.java
  backend/src/test/java/com/yigongil/backend/fixture/MemberFixture.java
  backend/src/test/java/com/yigongil/backend/fixture/StudyFixture.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
  backend/src/test/resources/features/apply-and-find-study.feature
  backend/src/test/resources/features/cancel-apply-and-find-study.feature
  backend/src/test/resources/features/create-and-find-recruiting-studies.feature
  backend/src/test/resources/features/create-and-find-todo.feature
  backend/src/test/resources/features/create-todo.feature
  backend/src/test/resources/features/find-round.feature
  backend/src/test/resources/features/find-studies.feature
  backend/src/test/resources/features/permit-applicant.feature
  backend/src/test/resources/features/study-detail.feature
  backend/src/test/resources/features/study-progress.feature
Labels: backend🤎, fix, jasmine👙

#207 feat: api의 쿼리를 카운트하는 aop
  backend/src/main/java/com/yigongil/backend/config/WebConfig.java
  backend/src/main/java/com/yigongil/backend/ui/FakeController.java
  backend/src/main/java/com/yigongil/backend/utils/querycounter/ApiQueryCounter.java
  backend/src/main/java/com/yigongil/backend/utils/querycounter/ApiQueryCounterAop.java
  backend/src/main/java/com/yigongil/backend/utils/querycounter/ConnectionProxyHandler.java
  backend/src/main/java/com/yigongil/backend/utils/querycounter/LoggingInterceptor.java
  backend/src/main/java/com/yigongil/backend/utils/querycounter/PreparedStatementProxyHandler.java
  backend/src/test/java/com/yigongil/backend/ui/MemberControllerTest.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
Labels: backend🤎, feat, netflix-george🎅🏻

#241 refactor: 투두 api, 로직 수정 및 테스트 수정
  backend/src/main/java/com/yigongil/backend/application/TodoService.java
  backend/src/main/java/com/yigongil/backend/domain/optionaltodo/OptionalTodo.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/round/RoundRepository.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/exception/NecessaryTodoNotExistException.java
  backend/src/main/java/com/yigongil/backend/request/TodoCreateRequest.java
  backend/src/main/java/com/yigongil/backend/request/TodoUpdateRequest.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/main/java/com/yigongil/backend/ui/TodoController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/TodoSteps.java
  backend/src/test/java/com/yigongil/backend/application/TodoServiceTest.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
  backend/src/test/java/com/yigongil/backend/ui/TodoControllerTest.java
  backend/src/test/resources/features/create-and-find-todo.feature
  backend/src/test/resources/features/create-todo.feature
  backend/src/test/resources/features/manage-todo.feature
Labels: backend🤎, refactor, netflix-george🎅🏻

#236 [스터디 개설 뷰] 스터디 개설 뷰 리펙터링
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyActivity.kt
  android/app/src/main/java/com/created/team201/presentation/createStudy/CreateStudyViewModel.kt
  android/app/src/main/java/com/created/team201/util/MediatorLiveDataExtension.kt
  android/app/src/main/res/layout/activity_create_study.xml
  android/app/src/main/res/layout/fragment_cycle_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_people_count_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_period_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_start_date_bottom_sheet.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/created/team201/presentation/createStudy/CreateStudyViewModelTest.kt
Labels: android💚, refactor, 선희☀️, bug

#251 [스터디 상세보기] 버그 리포팅 기반 개선
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailState.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/model/StudyDetailUIModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/model/StudyMemberUIModel.kt
  android/app/src/main/res/layout/activity_study_detail.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/model/StudyDetail.kt
Labels: android💚, feat, ßändäl🌗

#259 feat: 닉네임 중복을 조회하는 기능 추가
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/config/WebConfig.java
  backend/src/main/java/com/yigongil/backend/domain/member/MemberRepository.java
  backend/src/main/java/com/yigongil/backend/ui/MemberController.java
  backend/src/main/java/com/yigongil/backend/ui/exceptionhandler/ApiExceptionHandler.java
  backend/src/main/java/com/yigongil/backend/ui/exceptionhandler/DevInternalServerErrorMessageConverter.java
  backend/src/main/java/com/yigongil/backend/ui/exceptionhandler/InternalServerErrorMessageConverter.java
  backend/src/main/java/com/yigongil/backend/ui/exceptionhandler/ProdInternalServerErrorMessageConverter.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MemberSteps.java
  backend/src/test/java/com/yigongil/backend/ui/MemberControllerTest.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
  backend/src/test/java/com/yigongil/backend/ui/TodoControllerTest.java
  backend/src/test/resources/features/update-profile.feature
Labels: backend🤎, feat, phoa'i🏃

#261 feat: 스터디 검색 기능 추가
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/config/WebConfig.java
  backend/src/main/java/com/yigongil/backend/domain/study/PageStrategy.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/resources/features/create-and-find-recruiting-studies.feature
  backend/src/test/resources/features/create-and-find-todo.feature
  backend/src/test/resources/features/create-todo.feature
  backend/src/test/resources/features/find-participating-studies.feature
Labels: backend🤎, feat, netflix-george🎅🏻

#252 [온보딩 뷰] 온보딩 뷰 기능 작업
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingBindingAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/model/NicknameState.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/model/NicknameUiModel.kt
  android/app/src/main/res/layout/activity_on_boarding.xml
  android/app/src/main/res/values/arrays.xml
  android/app/src/main/res/values/colors.xml
  android/domain/src/main/java/com/created/domain/model/Nickname.kt
  android/domain/src/test/java/com/created/domain/model/NicknameTest.kt
Labels: android💚, feat, 선희☀️

#262 feat: 스터디 정보 수정 기능 구현
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/request/StudyUpdateRequest.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/java/com/yigongil/backend/config/JacksonConfigTest.java
  backend/src/test/java/com/yigongil/backend/domain/study/StudyTest.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
  backend/src/test/resources/features/study-detail.feature
  backend/src/test/resources/features/update-study.feature
Labels: backend🤎, feat, jasmine👙

#266 스터디 완료시 티어 변경하는 기능 추가
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMember.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/test/java/com/yigongil/backend/domain/study/StudyTest.java
  backend/src/test/java/com/yigongil/backend/fixture/RoundFixture.java
  backend/src/test/java/com/yigongil/backend/fixture/RoundOfMemberFixture.java
Labels: backend🤎, feat, ε'miliene🏊

#269 [설정 뷰] 설정 뷰 기능 작업
  android/app/src/main/java/com/created/team201/presentation/accountSetting/AccountSettingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/profile/ProfileActivity.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/setting/adapter/SettingAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/setting/adapter/SettingViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/setting/model/SettingType.kt
  android/app/src/main/java/com/created/team201/presentation/setting/model/SettingUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/adapter/StudyManageViewHolder.kt
  android/app/src/main/res/drawable/divider_recyclerview_line.xml
  android/app/src/main/res/values/arrays.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, 선희☀️

#281 [스터디 목록 뷰] 스터디 목록 뷰의 검색 기능을 붙입니다.
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListFragment.kt
  android/app/src/main/res/layout/fragment_study_list.xml
  android/app/src/main/res/menu/menu_study_list.xml
  android/app/src/main/res/values/themes.xml
Labels: android💚, feat, ßändäl🌗

#258 [신고하기 뷰] 신고하기 뷰 기능 구현
  android/app/src/main/java/com/created/team201/presentation/report/ReportActivity.kt
  android/app/src/main/java/com/created/team201/presentation/report/ReportViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/report/model/DateUiModel.kt
  android/app/src/main/res/layout/activity_report.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, ringring🤙

#287 스터디 지원시 정원이 가득차면 예외 던지는 기능
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ApplySteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MemberSteps.java
  backend/src/test/resources/features/apply-and-find-study.feature
  backend/src/test/resources/features/cancel-apply-and-find-study.feature
  backend/src/test/resources/features/find-participating-studies.feature
  backend/src/test/resources/features/manage-todo.feature
  backend/src/test/resources/features/permit-applicant.feature
  backend/src/test/resources/features/study-detail.feature
  backend/src/test/resources/features/study-progress.feature
Labels: backend🤎, feat, ε'miliene🏊

#288 feat: Request 입력값 유효성 검증 및 코드 개행 추가
  backend/src/main/java/com/yigongil/backend/ui/MemberController.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/main/java/com/yigongil/backend/ui/TodoController.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
Labels: backend🤎, feat, jasmine👙

#289 chore: 의존성 캐싱 적용
  .github/workflows/backend-test.yml
Labels: backend🤎, netflix-george🎅🏻, infra

#277 feat: 회원 탈퇴 기능 구현
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/config/auth/MemberArgumentResolver.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/member/MemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMemberRepository.java
  backend/src/main/java/com/yigongil/backend/exception/AuthorizationException.java
  backend/src/main/java/com/yigongil/backend/response/MemberOfRoundResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyMemberResponse.java
  backend/src/main/java/com/yigongil/backend/ui/MemberController.java
  backend/src/main/resources/db/migration/V2__github_nullable.sql
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ErrorSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MemberSteps.java
  backend/src/test/java/com/yigongil/backend/domain/member/MemberTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/features/update-profile.feature
Labels: backend🤎, feat, netflix-george🎅🏻

#280 feat: 유저 신고 기능 구현
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/application/ReportService.java
  backend/src/main/java/com/yigongil/backend/domain/report/Report.java
  backend/src/main/java/com/yigongil/backend/domain/report/ReportRepository.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidReportContentLengthException.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidReportException.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidReportTitleLengthException.java
  backend/src/main/java/com/yigongil/backend/request/ReportCreateRequest.java
  backend/src/main/java/com/yigongil/backend/ui/ReportController.java
  backend/src/main/resources/db/migration/V3__add_report_table.sql
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MemberSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ReportSteps.java
  backend/src/test/java/com/yigongil/backend/domain/report/ReportTest.java
  backend/src/test/resources/features/report-member.feature
Labels: backend🤎, feat, jasmine👙

#290 feat: 온보딩 완료 여부 조회 기능 추가
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/response/OnboardingCheckResponse.java
  backend/src/main/java/com/yigongil/backend/ui/MemberController.java
  backend/src/main/resources/db/migration/V4__add_is_on_boarding_done.sql
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MemberSteps.java
  backend/src/test/resources/features/update-profile.feature
Labels: backend🤎, feat, phoa'i🏃

#302 fix: default 값 추가
  backend/src/main/resources/db/migration/V2__github_nullable.sql
Labels: backend🤎, fix, netflix-george🎅🏻

#303 fix: flyway 오류를 해결하기 위해 sql 문법 수정
  backend/src/main/java/com/yigongil/backend/application/ReportService.java
  backend/src/main/java/com/yigongil/backend/domain/report/Report.java
  backend/src/main/resources/db/migration/V2__github_nullable.sql
  backend/src/main/resources/db/migration/V3__add_report_table.sql
  backend/src/test/java/com/yigongil/backend/domain/report/ReportTest.java
Labels: backend🤎

#292 [스터디 목록 뷰] 스터디 목록뷰에 검색기능 서버연결
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyListDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyListDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/remote/api/StudyListService.kt
  android/app/src/main/java/com/created/team201/data/repository/StudyListRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListViewModel.kt
  android/app/src/main/res/layout/fragment_study_list.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/repository/StudyListRepository.kt
Labels: android💚, feat, ßändäl🌗

#311 [온보딩 뷰] 온보딩 뷰 서버 연결
  android/app/src/main/java/com/created/team201/application/Team201App.kt
  android/app/src/main/java/com/created/team201/data/datasource/local/OnBoardingIsDoneDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/local/OnBoardingIsDoneDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/datasource/local/OnBoardingIsDoneStorage.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/OnBoardingDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/OnBoardingDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/login/AuthDataSource.kt
  android/app/src/main/java/com/created/team201/data/mapper/OnBoardingMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkServiceModule.kt
  android/app/src/main/java/com/created/team201/data/remote/api/AuthService.kt
  android/app/src/main/java/com/created/team201/data/remote/api/OnBoardingService.kt
  android/app/src/main/java/com/created/team201/data/remote/request/OnBoardingRequestDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/IsOnBoardingDoneResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/NicknameResponseDto.kt
  android/app/src/main/java/com/created/team201/data/repository/OnBoardingRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/MainActivity.kt
  android/app/src/main/java/com/created/team201/presentation/login/LoginActivity.kt
  android/app/src/main/java/com/created/team201/presentation/login/LoginViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/model/OnBoardingDoneState.kt
  android/app/src/main/java/com/created/team201/presentation/splash/SplashActivity.kt
  android/app/src/main/java/com/created/team201/presentation/splash/SplashViewModel.kt
  android/app/src/main/res/layout/activity_on_boarding.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/created/team201/data/MockServer.kt
  android/app/src/test/java/com/created/team201/data/MockServiceModule.kt
  android/app/src/test/java/com/created/team201/data/repository/OnBoardingRepositoryTest.kt
  android/app/src/test/java/com/created/team201/presentation/onBoarding/OnBoardingFixture.kt
  android/app/src/test/java/com/created/team201/presentation/onBoarding/OnBoardingViewModelTest.kt
  android/domain/src/main/java/com/created/domain/model/OnBoarding.kt
  android/domain/src/main/java/com/created/domain/repository/OnBoardingRepository.kt
Labels: android💚, feat, 선희☀️

#310 [설정 뷰] 설정 뷰 서버 연결
  android/app/src/main/java/com/created/team201/data/datasource/remote/SettingDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/SettingDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkServiceModule.kt
  android/app/src/main/java/com/created/team201/data/remote/api/SettingService.kt
  android/app/src/main/java/com/created/team201/data/repository/SettingRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/accountSetting/AccountSettingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingDialog.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingDialogClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/setting/adapter/SettingAdapter.kt
  android/app/src/main/res/layout/activity_account_setting.xml
  android/app/src/main/res/layout/layout_dialog_setting.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/created/team201/presentation/setting/SettingViewModelTest.kt
  android/domain/src/main/java/com/created/domain/repository/SettingRepository.kt
Labels: android💚, feat, 선희☀️

#316 [스터디 목록, 스터디 상세보기] 🚨 서버 업뎃으로 인한 버그를 수정완료
  android/app/src/main/java/com/created/team201/data/mapper/StudyDetailMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyManagementMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/response/MemberResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/StudyMemberResponseDto.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyList/StudyListViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/Dummy.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/model/StudyMemberUiModel.kt
  android/domain/src/main/java/com/created/domain/model/Member.kt
  android/domain/src/main/java/com/created/domain/model/StudyMember.kt
Labels: android💚, fix, ßändäl🌗

#323 [온보딩 뷰] 온보딩 뷰 소개 줄바꿈 안 되는 버그 수정
  android/app/src/main/res/layout/activity_on_boarding.xml
Labels: android💚, fix, 선희☀️

#307 chore: 쿼리 로깅 mysql로 설정
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Labels: backend🤎, chore, netflix-george🎅🏻

#324 feat: 액추에이터 적용
  backend/build.gradle
  backend/src/main/java/com/yigongil/backend/config/ProdWebConfig.java
Labels: backend🤎, feat, ε'miliene🏊

#320 refactor: repository 메서드 수정
  backend/src/main/java/com/yigongil/backend/application/MemberService.java
  backend/src/main/java/com/yigongil/backend/application/RoundService.java
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/config/auth/MemberArgumentResolver.java
  backend/src/main/java/com/yigongil/backend/domain/member/Member.java
  backend/src/main/java/com/yigongil/backend/domain/member/MemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/round/RoundRepository.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMemberRepository.java
  backend/src/main/java/com/yigongil/backend/domain/study/StudyRepository.java
  backend/src/main/java/com/yigongil/backend/domain/studymember/StudyMemberRepository.java
  backend/src/test/java/com/yigongil/backend/ui/MemberControllerTest.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
  backend/src/test/java/com/yigongil/backend/ui/TodoControllerTest.java
Labels: backend🤎, refactor, netflix-george🎅🏻

#334 [마이페이지 뷰] 마이페이지 조회 onResume에서 수행하도록 수정
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageViewModel.kt
  android/app/src/test/java/com/created/team201/presentation/myPage/MyPageViewModelTest.kt
Labels: android💚, refactor, 선희☀️

#338 [신고하기 뷰] 신고하기 뷰 서버연결
  android/app/src/main/java/com/created/team201/data/datasource/remote/ReportDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/ReportDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/mapper/ReportMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkServiceModule.kt
  android/app/src/main/java/com/created/team201/data/remote/api/ReportService.kt
  android/app/src/main/java/com/created/team201/data/remote/request/ReportRequestDTO.kt
  android/app/src/main/java/com/created/team201/data/repository/ReportRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/profile/ProfileActivity.kt
  android/app/src/main/java/com/created/team201/presentation/report/ReportActivity.kt
  android/app/src/main/java/com/created/team201/presentation/report/ReportViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/report/model/ReportCategory.kt
  android/app/src/main/java/com/created/team201/presentation/report/model/ReportTargetUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/res/layout/activity_report.xml
  android/app/src/main/res/menu/menu_study_detail.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/model/Report.kt
  android/domain/src/main/java/com/created/domain/repository/ReportRepository.kt
Labels: android💚, feat, ßändäl🌗

#305 [스터디 상세보기 뷰] QA사항 개선
  android/app/src/main/java/com/created/team201/data/datasource/remote/OnBoardingDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/SettingDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/mapper/OnBoardingMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyDetailMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/StudyManagementMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/NetworkServiceModule.kt
  android/app/src/main/java/com/created/team201/data/remote/api/OnBoardingService.kt
  android/app/src/main/java/com/created/team201/data/remote/request/OnBoardingRequestDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/MemberResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/NicknameResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/StudyMemberResponseDto.kt
  android/app/src/main/java/com/created/team201/data/repository/OnBoardingRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/data/repository/SettingRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/accountSetting/AccountSettingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/login/LoginViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/report/ReportActivity.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingDialog.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/setting/adapter/SettingAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/splash/SplashViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailState.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/adapter/StudyDeletedUserViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/adapter/StudyParticipantsAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/model/StudyMemberUIModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/model/StudyPeopleViewType.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/StudyManageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementMemberAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementViewHolder.kt
  android/app/src/main/res/layout/item_study_detail_deleted_user.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, ßändäl🌗

#343 프로젝트 폰트 스타일 수정 및 뷰 디자인 개편
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/splash/SplashActivity.kt
  android/app/src/main/java/com/created/team201/presentation/updateStudy/UpdateStudyActivity.kt
  android/app/src/main/res/layout/activity_account_setting.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_on_boarding.xml
  android/app/src/main/res/layout/activity_profile.xml
  android/app/src/main/res/layout/activity_report.xml
  android/app/src/main/res/layout/activity_setting.xml
  android/app/src/main/res/layout/activity_study_detail.xml
  android/app/src/main/res/layout/activity_study_management.xml
  android/app/src/main/res/layout/activity_update_study.xml
  android/app/src/main/res/layout/dialog_study_informaion.xml
  android/app/src/main/res/layout/fragment_cycle_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_people_count_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_period_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_start_date_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_study_list.xml
  android/app/src/main/res/layout/fragment_study_manage.xml
  android/app/src/main/res/layout/icon_text_button.xml
  android/app/src/main/res/layout/item_home.xml
  android/app/src/main/res/layout/item_home_optional_todo.xml
  android/app/src/main/res/layout/item_profile_finished_study.xml
  android/app/src/main/res/layout/item_setting.xml
  android/app/src/main/res/layout/item_study_detail_deleted_user.xml
  android/app/src/main/res/layout/item_study_detail_study_people.xml
  android/app/src/main/res/layout/item_study_list.xml
  android/app/src/main/res/layout/item_study_management.xml
  android/app/src/main/res/layout/item_study_management_study_member.xml
  android/app/src/main/res/layout/layout_dialog_setting.xml
  android/app/src/main/res/layout/layout_user_study_result_information.xml
  android/app/src/main/res/layout/single_picker.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/main/res/values/typography.xml
Labels: android💚, refactor, さんくん🐯

#345 [신고하기 뷰] 신고버튼 중복 클릭을 방지합니다.
  android/app/src/main/java/com/created/team201/presentation/report/ReportViewModel.kt
Labels: android💚, feat, ßändäl🌗

#346 [스터디 관리, 상세보기] 잡다한 일
  android/app/build.gradle
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyDetailDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyDetailDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyManagementDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/StudyManagementDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/remote/api/StudyDetailService.kt
  android/app/src/main/java/com/created/team201/data/remote/api/StudyManagementService.kt
  android/app/src/main/java/com/created/team201/data/repository/StudyDetailRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/data/repository/StudyManagementRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/adapter/StudyManageViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManage/model/MyStudyStatus.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementViewModel.kt
  android/app/src/main/res/layout/item_study_list.xml
  android/app/src/main/res/layout/item_study_manage.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/repository/StudyDetailRepository.kt
  android/domain/src/main/java/com/created/domain/repository/StudyManagementRepository.kt
Labels: android💚, feat, ringring🤙

#349 feat: swagger 적용
  backend/build.gradle
  backend/src/main/java/com/yigongil/backend/config/LocalWebConfig.java
  backend/src/main/java/com/yigongil/backend/config/ProdWebConfig.java
  backend/src/main/java/com/yigongil/backend/config/SwaggerConfig.java
  backend/src/main/java/com/yigongil/backend/exception/InvalidTokenException.java
  backend/src/main/java/com/yigongil/backend/request/ProfileUpdateRequest.java
  backend/src/main/java/com/yigongil/backend/request/ReportCreateRequest.java
  backend/src/main/java/com/yigongil/backend/request/StudyUpdateRequest.java
  backend/src/main/java/com/yigongil/backend/request/TodoCreateRequest.java
  backend/src/main/java/com/yigongil/backend/request/TodoUpdateRequest.java
  backend/src/main/java/com/yigongil/backend/response/FinishedStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/HomeResponse.java
  backend/src/main/java/com/yigongil/backend/response/MemberOfRoundResponse.java
  backend/src/main/java/com/yigongil/backend/response/MyProfileResponse.java
  backend/src/main/java/com/yigongil/backend/response/MyStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/NicknameValidationResponse.java
  backend/src/main/java/com/yigongil/backend/response/OnboardingCheckResponse.java
  backend/src/main/java/com/yigongil/backend/response/ProfileResponse.java
  backend/src/main/java/com/yigongil/backend/response/RecruitingStudyResponse.java
  backend/src/main/java/com/yigongil/backend/response/RoundNumberResponse.java
  backend/src/main/java/com/yigongil/backend/response/RoundResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyDetailResponse.java
  backend/src/main/java/com/yigongil/backend/response/StudyMemberResponse.java
  backend/src/main/java/com/yigongil/backend/response/TodoResponse.java
  backend/src/main/java/com/yigongil/backend/response/UpcomingStudyResponse.java
  backend/src/main/java/com/yigongil/backend/ui/HomeController.java
  backend/src/main/java/com/yigongil/backend/ui/LoginController.java
  backend/src/main/java/com/yigongil/backend/ui/MemberController.java
  backend/src/main/java/com/yigongil/backend/ui/ReportController.java
  backend/src/main/java/com/yigongil/backend/ui/RoundController.java
  backend/src/main/java/com/yigongil/backend/ui/StudyController.java
  backend/src/main/java/com/yigongil/backend/ui/TodoController.java
  backend/src/main/java/com/yigongil/backend/ui/doc/HomeApi.java
  backend/src/main/java/com/yigongil/backend/ui/doc/LoginApi.java
  backend/src/main/java/com/yigongil/backend/ui/doc/MemberApi.java
  backend/src/main/java/com/yigongil/backend/ui/doc/ReportApi.java
  backend/src/main/java/com/yigongil/backend/ui/doc/RoundApi.java
  backend/src/main/java/com/yigongil/backend/ui/doc/StudyApi.java
  backend/src/main/java/com/yigongil/backend/ui/doc/TodoApi.java
  backend/src/main/resources/application.yml
Labels: backend🤎, feat, netflix-george🎅🏻

#359 [온보딩 뷰] 온보딩 뷰 닉네임 한 글자 가능한 버그
  .DS_Store
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingViewModel.kt
Labels: android💚, fix, 선희☀️

#357 feat: 리프레시 토큰 적용
  backend/src/main/java/com/yigongil/backend/application/AuthService.java
  backend/src/main/java/com/yigongil/backend/application/OauthService.java
  backend/src/main/java/com/yigongil/backend/config/auth/AuthInterceptor.java
  backend/src/main/java/com/yigongil/backend/config/auth/JwtTokenProvider.java
  backend/src/main/java/com/yigongil/backend/config/auth/TokenTheftDetector.java
  backend/src/main/java/com/yigongil/backend/config/oauth/GithubOauth.java
  backend/src/main/java/com/yigongil/backend/request/TokenRequest.java
  backend/src/main/java/com/yigongil/backend/response/TokenResponse.java
  backend/src/main/java/com/yigongil/backend/ui/LoginController.java
  backend/src/main/java/com/yigongil/backend/ui/doc/LoginApi.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/AcceptanceTest.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ApplySteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/AuthorizationSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/MemberSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/ReportSteps.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/SharedContext.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/StudySteps.java
  backend/src/test/java/com/yigongil/backend/config/auth/TokenTheftDetectorTest.java
  backend/src/test/java/com/yigongil/backend/config/oauth/JwtTokenProviderTest.java
  backend/src/test/java/com/yigongil/backend/fake/FakeController.java
  backend/src/test/java/com/yigongil/backend/ui/MemberControllerTest.java
  backend/src/test/java/com/yigongil/backend/ui/StudyControllerTest.java
  backend/src/test/java/com/yigongil/backend/ui/TodoControllerTest.java
  backend/src/test/resources/features/refresh-token.feature
Labels: backend🤎, feat, ε'miliene🏊

#364 [마이페이지 뷰] 마이페이지 뷰 프로필 수정 기능 작성
  .github/workflows/android-test.yml
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/data/datasource/remote/MyPageDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/MyPageDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/mapper/MyProfileMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/ProfileMapper.kt
  android/app/src/main/java/com/created/team201/data/mapper/UserProfileMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/api/MyPageService.kt
  android/app/src/main/java/com/created/team201/data/remote/request/MyProfileRequestDTO.kt
  android/app/src/main/java/com/created/team201/data/remote/response/MyPageResponseDto.kt
  android/app/src/main/java/com/created/team201/data/remote/response/ProfileResponseDto.kt
  android/app/src/main/java/com/created/team201/data/repository/MyPageRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/MainActivity.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageDialog.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageDialogClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/model/ProfileInformationUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/model/ProfileType.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/model/ProfileUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/OnBoardingViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/profile/ProfileViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementViewModel.kt
  android/app/src/main/res/layout/activity_profile.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/layout_dialog_my_page.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/created/team201/presentation/myPage/MyPageFixture.kt
  android/app/src/test/java/com/created/team201/presentation/myPage/MyPageViewModelTest.kt
  android/domain/src/main/java/com/created/domain/model/Profile.kt
  android/domain/src/main/java/com/created/domain/model/ProfileInformation.kt
  android/domain/src/main/java/com/created/domain/repository/MyPageRepository.kt
Labels: android💚, feat, 선희☀️

#366 [신고하기 뷰] 스터디 신고기능 추가하였습니다.
  android/app/src/main/java/com/created/team201/data/datasource/remote/ReportDataSource.kt
  android/app/src/main/java/com/created/team201/data/datasource/remote/ReportDataSourceImpl.kt
  android/app/src/main/java/com/created/team201/data/mapper/ReportMapper.kt
  android/app/src/main/java/com/created/team201/data/remote/api/ReportService.kt
  android/app/src/main/java/com/created/team201/data/remote/request/ReportStudyRequestDto.kt
  android/app/src/main/java/com/created/team201/data/remote/request/ReportUserRequestDto.kt
  android/app/src/main/java/com/created/team201/data/repository/ReportRepositoryImpl.kt
  android/app/src/main/java/com/created/team201/presentation/report/ReportActivity.kt
  android/app/src/main/java/com/created/team201/presentation/report/ReportViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/report/model/ReportCategory.kt
  android/app/src/main/java/com/created/team201/presentation/report/model/ReportStudyUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/report/model/ReportUserUiModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/StudyDetailActivity.kt
  android/app/src/main/res/layout/activity_report.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/created/domain/model/ReportStudy.kt
  android/domain/src/main/java/com/created/domain/model/ReportUser.kt
  android/domain/src/main/java/com/created/domain/repository/ReportRepository.kt
Labels: android💚, feat, ßändäl🌗

#375 [스터디 상세보기 뷰] 간단한 뷰 수정
  android/app/src/main/res/layout/activity_study_detail.xml
  android/app/src/main/res/layout/item_study_detail_study_people.xml
Labels: android💚, feat, ßändäl🌗

#376 [안드로이드 프로젝트] Release, Debug 분리 관리 및 코드 난독화
  .github/workflows/android-test.yml
  android/.gitignore
  android/app/build.gradle
  android/app/proguard-rules.pro
Labels: android💚, chore

#378 [시작후 스관뷰] 갖가지 오류 수정
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/main/java/com/created/team201/presentation/studyManage/StudyManageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoAddViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoEditViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyOptionalTodoViewHolder.kt
  android/app/src/main/res/layout/fragment_study_manage.xml
  android/app/src/main/res/layout/item_study_management.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, feat, fix, ringring🤙

#380 [안드로이드 기초 세팅] 버전 변경
  android/app/build.gradle
Labels: android💚, chore

#381 안드로이드 릴리즈 v1.1.1
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/main/java/com/created/team201/presentation/studyManage/StudyManageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/StudyManagementViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoAddViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoEditViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementOptionalTodoViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyManagementViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyManagement/adapter/StudyOptionalTodoViewHolder.kt
  android/app/src/main/res/layout/fragment_study_manage.xml
  android/app/src/main/res/layout/item_study_management.xml
  android/app/src/main/res/values/strings.xml
Labels: android💚, release

#384 refactor: 이벤트 제거
  backend/src/main/java/com/yigongil/backend/application/RoundService.java
  backend/src/main/java/com/yigongil/backend/application/StudyEventListener.java
  backend/src/main/java/com/yigongil/backend/application/StudyService.java
  backend/src/main/java/com/yigongil/backend/application/studyevent/StudyStartedEvent.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/test/java/com/yigongil/backend/application/RoundServiceTest.java
  backend/src/test/java/com/yigongil/backend/application/StudyServiceTest.java
  backend/src/test/java/com/yigongil/backend/domain/study/StudyTest.java
  backend/src/test/java/com/yigongil/backend/fixture/StudyFixture.java
Labels: backend🤎, refactor, netflix-george🎅🏻

#383 feat: 회차 멤버들의 투두 진행률 조회 api
  backend/src/main/java/com/yigongil/backend/application/RoundService.java
  backend/src/main/java/com/yigongil/backend/config/ActuatorConfig.java
  backend/src/main/java/com/yigongil/backend/config/AuthConfig.java
  backend/src/main/java/com/yigongil/backend/config/JpaQueryLogConfig.java
  backend/src/main/java/com/yigongil/backend/config/ProdWebConfig.java
  backend/src/main/java/com/yigongil/backend/domain/round/Round.java
  backend/src/main/java/com/yigongil/backend/domain/roundofmember/RoundOfMembers.java
  backend/src/main/java/com/yigongil/backend/domain/study/Study.java
  backend/src/main/java/com/yigongil/backend/response/ProgressRateResponse.java
  backend/src/main/java/com/yigongil/backend/ui/RoundController.java
  backend/src/test/java/com/yigongil/backend/acceptance/steps/TodoSteps.java
  backend/src/test/java/com/yigongil/backend/domain/round/RoundTest.java
  backend/src/test/java/com/yigongil/backend/domain/roundofmember/RoundOfMembersTest.java
  backend/src/test/java/com/yigongil/backend/fixture/RoundFixture.java
  backend/src/test/java/com/yigongil/backend/ui/MemberControllerTest.java
  backend/src/test/resources/features/apply-study.feature
  backend/src/test/resources/features/cancel-apply-and-find-study.feature
  backend/src/test/resources/features/find-round.feature
Labels: backend🤎, feat, netflix-george🎅🏻
