Repository woowacourse-teams/2023-yigongil, pull requests merged in 2023-11, with the labels that each got.

#600 [BE] refactor: 인증, 피드 최대 글자수 증가
  backend/src/main/java/com/yigongil/backend/domain/certification/Certification.java
  backend/src/main/java/com/yigongil/backend/domain/feedpost/FeedPost.java
  backend/src/main/resources/db/migration/V13__increase_feed_certification_length.sql
Labels: backend🤎, refactor

#598 [AN] 스레드 뷰 입력 편의성 향상 및 TextView 링크 클릭 및 입력 커서 테마 적용
  android/app/src/main/java/com/created/team201/presentation/certification/CertificationActivity.kt
  android/app/src/main/java/com/created/team201/presentation/studyThread/ThreadActivity.kt
  android/app/src/main/res/drawable/cursor_color.xml
  android/app/src/main/res/layout/activity_certification.xml
  android/app/src/main/res/layout/activity_certification_check.xml
  android/app/src/main/res/layout/activity_profile.xml
  android/app/src/main/res/layout/activity_study_detail.xml
  android/app/src/main/res/layout/activity_thread.xml
  android/app/src/main/res/layout/dialog_study_informaion.xml
  android/app/src/main/res/layout/item_home_study_list.xml
  android/app/src/main/res/layout/item_thread_comment.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: android💚, feat, fix, ßändäl🌗

#602 [AN] 마이페이지 수정 및 보기 기능 개선
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/created/team201/presentation/home/HomeViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/ModifyProfileFragment.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageDialog.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageDialogClickListener.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageFragment.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/MyPageViewModel.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/custom/UserStudyResult.kt
  android/app/src/main/java/com/created/team201/presentation/myPage/model/ProfileType.kt
  android/app/src/main/java/com/created/team201/presentation/onBoarding/util/OnBoardingBindingAdapter.kt
  android/app/src/main/java/com/created/team201/presentation/setting/SettingActivity.kt
  android/app/src/main/res/drawable/bg_stroke_fill_color_5dp.xml
  android/app/src/main/res/drawable/ic_edit_16.xml
  android/app/src/main/res/layout/activity_profile.xml
  android/app/src/main/res/layout/custom_user_study_result.xml
  android/app/src/main/res/layout/fragment_modify_profile.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/menu/menu_modify_profile.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: android💚, refactor, 선희☀️

#604 [AN] 커스텀 프로필 이미지 뷰를 수정하였습니다.
  android/app/src/main/java/com/created/team201/presentation/home/adapter/HomeViewHolder.kt
  android/app/src/main/java/com/created/team201/presentation/studyDetail/CustomProfileImage.kt
  android/app/src/main/res/drawable/bg_circle_black.xml
  android/app/src/main/res/layout/custom_profile_image.xml
  android/app/src/main/res/layout/item_study_detail_study_people.xml
  android/app/src/main/res/layout/item_thread_must_do.xml
Labels: android💚, fix, ßändäl🌗
